@use "./config";

.btn {
    display: inline-flex;
    padding: 6px 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.2px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 2px;

    &:hover, &:active {
        background-color: var(--color-primary-dark);
    }

    &.outline {
        padding: 5px 15px;
        color: var(--color-primary);
        background-color: var(--color-gray-100);
        border: 1px solid var(--color-blue-400);

        &:hover, &:active {
            background-color: var(--color-primary-light);
        }
    }

    &.round {
        border-radius: 50px;
    }

    &.size-small {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        padding: 4px 10px;

        &.outline {
            padding: 3px 9px;
        }
    }

    // success
    &.btn-success {
        background-color: var(--color-green-700);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-green-800);
        }

        &.outline {
            color: var(--color-green-700);
            border: 1px solid var(--color-green-700);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-green-100);
            }
        }
    }

    // danger
    &.btn-danger {
        background-color: var(--color-red-600);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-red-700);
        }

        &.outline {
            color: var(--color-red-600);
            border: 1px solid var(--color-red-600);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-red-100);
            }
        }
    }

    // warning 
    &.btn-warning {
        background-color: var(--color-orange-600);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-orange-700);
        }

        &.outline {
            color: var(--color-orange-600);
            border: 1px solid var(--color-orange-600);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-orange-100);
            }
        }
    }

    // focus 
    &.btn-focus {
        background-color: var(--color-indigo-500);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-indigo-600);
        }

        &.outline {
            color: var(--color-indigo-500);
            border: 1px solid var(--color-indigo-500);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-indigo-100);
            }
        }
    }

    // secondary 
    &.btn-secondary {
        background-color: var(--color-secondary);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-gray-700);
        }

        &.outline {
            color: var(--color-secondary-dark);
            border: 1px solid var(--color-secondary);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-gray-200);
            }
        }
    }
}