@use "./config" as *;

.table-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin: 0 auto;
    border: 1px solid var(--color-gray-500);
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.heading {
    background-color: var(--color-gray-300);
    @include font(13, 600);
    height: 30px;

    .row-item{
        &.btn-cell,
        &:last-child {
            padding-right: 17px;
            padding-left: 0;
        }
    }
}

.row-item {
    display: flex;
    flex: 1;
    padding: 8px 0;
    justify-content: center;
    align-items: center;

    .field {
        padding-left: 8px;
        padding-right: 8px;

        input[type='text'] {
            height: 25px;
        }
    }
}

.table-row:last-child {
    border-bottom: 0;
}

.table-body {
    overflow-y: scroll;
    height: 190px;

    &.type-long {
        height: 400px;
    }
}

.table-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: var(--color-gray-600);
    color: var(--color-white);
    @include font(14, 500);
}

//

.data-table-wrapper {
    &.with-bg {
        padding: 12px;
        background-color: rgba(236, 243, 255, 0.7);
    }

    .data-table-container {
        .data-table-header {
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            color: var(--color-white);
            background-color: var(--color-gray-600);
        }

        .data-table-box {
            border: 1px solid var(--color-gray-500);
            background-color: var(--color-gray-300);

             table {
                width: 100% !important;
                table-layout: fixed;

                thead {
                    tr {
                        th {
                            color: var(--color-gray-700);
                            background-color: var(--color-gray-300);
                            border-bottom: 1px solid var(--color-gray-500);
                            font-size: 13px;
                            font-weight: 500;
                            padding: 5px;
                            vertical-align: middle;
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 7px 8px;
                            vertical-align: middle;
                            @include truncate();
                            border-bottom: 1px solid var(--color-gray-300);
                            background-color: var(--color-white);

                            &.align-center{
                                text-align: center;
                            }

                            input[type='text'],
                            select {
                                width: 100%;
                                max-width: 100%;
                                min-width: 100%;
                                @include font(12,400);
                            }

                            input[type='text'] {
                                text-align: center;
                            }
                        }
                    }
                }
             }
        }
    }

    &.table-half {
        display: flex;
        justify-content: space-between;

        .data-table-container {
            width: calc(50% - 10px);
        }
    }
}