@use "./config" as *;

:root {
    --form-control-placeholder-color: var(--color-gray-500);
    
    --form-control-color: var(--color-gray-800);
    --form-control-border-color: var(--color-gray-500);
    --form-control-bg-color: var(--color-white);
    
    --fomr-control-disabled-color: var(--color-gray-800);
    --form-control-disabled-border-color: var(--color-gray-500);
    --form-control-disabled-bg-color: var(--color-primary-light);

    --form-control-invalid-color: var(--color-red-600);
    --form-control-invalid-bg-color: var(--color-white);
    --form-control-invalid-border-color: var(--color-red-600);
}

// input text
.form-text {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    color: var(--form-control-color);
    font-size: var(--text-14-font-size);
    line-height: var(--text-14-line-height);
    font-weight: var(--text-14-font-weight);
    background-color: var(--form-control-bg-color);
    border: 1px solid var(--form-control-border-color);
    background-repeat: no-repeat;

    @include placeholder {
        color: var(--form-control-placeholder-color);
    }

    &.num {
        height: 25px;
    }

    &.date {
        width: 120px;
        padding-right: 32px;
        background-position: 96% 50%;
        background-image: url('../img/icon/svg/date.svg');
    }

    &.month {
        width: 120px;
        padding-right: 32px;
        background-position: 96% 50%;
        background-image: url('../img/icon/svg/month.svg');
    }

    .field.full & {
        width: 100%;
    }
}

// select
.form-select {
    border: 1px solid var(--form-control-border-color);
    min-width: 90px;
    height: 30px;
    padding-left: 10px;
    padding-right: 24px;
    background: url('../img/icon/svg/arrow-down.svg') calc(100% - 2px) 50% no-repeat;
    font-size: var(--text-14-font-size);
    line-height: var(--text-14-line-height);
    font-weight: var(--text-14-font-weight);

    .field.full & {
        background-position: calc(100% - 3px) 50%;
    }

    &.select-gray {
        background-color: var(--color-gray-100);
    }
}

//

.form-sm {
    height: 25px;
}

.form-lg {
    height: 36px;
}

// form-control
.form-control {
    &[disabled] {
        border-color: var(--form-control-disabled-border-color);
        background-color: var(--form-control-disabled-bg-color);
        color: var(--fomr-control-disabled-color);
    }

    &.form-error {
        border-color: var(--form-control-invalid-border-color);
        background-color: var(--form-control-invalid-bg-color);
        color: var(--form-control-invalid-color);
    }
}

textarea.form-text {
    padding: 8px;
}

// radio
.radio-input {
    cursor: pointer;
    background-color: var(--color-white);
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-gray-500);
    margin: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(0);
        box-shadow: inset 10px 10px var(--color-white);
    }

    &:checked {
        background-color: var(--color-white);
        border-color: var(--color-primary);

        &::before {
            transform: scale(1);
            box-shadow: inset 10px 10px var(--color-primary);
        }
    }

    & + label {
        margin-left: 3px;

        & + .radio-input {
            margin-left: 15px;
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--color-gray-200);

        & + label {
            color: var(--color-gray-500);
        }

        &:checked {
            border-color: var(--color-secondary-light);

            &::before {
                transform: scale(1);
                box-shadow: inset 10px 10px var(--color-secondary-light);
            }
        }
    }
}

// checkbox
.checkbox-input {
    display: none;

    & + label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-gray-500);
            background-color: var(--color-white);
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            margin-right: 6px;
            overflow: hidden;
        }

        & + .checkbox-input + label {
            margin-left: 15px;
        }
    }

    &:checked{
        & + label::before {
            border-color: var(--color-primary);
        }

        & + label::after {
            content: '';
            display: block;
            position: absolute;
            top: 6px;
            left: 5px;
            width: 10px;
            height: 8px;
            background-color: var(--color-primary);
            mask-image: url("../img/icon/svg/checked.svg");
        }
    }

    &.half {
        &:checked {
            & + label::after {
                top: 9px;
                left: 4px;
                width: 12px;
                height: 2px;
                mask-image: none;
            }
        }
    }

    &:disabled {
        cursor: not-allowed;

        & + label {
            color: var(--color-gray-500);

            &::before {
                background-color: var(--color-gray-200);
                border-color: var(--color-gray-500);
            }
        }

        &:checked {
            & + label::after {
                background-color: var(--color-gray-500);
            }
        }
    }
}

// toggle
.toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    .toggle-switch {
        display: inline-block;
        background-color: var(--color-gray-500);
        border-radius: 46px;
        width: 36px;
        height: 20px;
        position: relative;
        transition: background 0.25s;

        &::before, &::after {
            content: '';
        }

        &::before {
            display: block;
            background: var(--color-white);
            border-radius: 50%;
            width: 14px;
            height: 14px;
            box-shadow: var(--shadow-regular);
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }

    .toggle-input {
        display: none;

        &:checked + .toggle-switch {
            background-color: var(--color-primary);

            &:before {
                left: 19px;
            }
        }
    }

    .toggle-label {
        margin-left: 6px;
    }
}

.with-delete {
    position: relative;

    .form-text {
        padding-right: 32px;
    }
    .btn-form-delete {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
        display: inline-flex;
        width: 20px;
        height: 20px;
        background: url('../img/icon/svg/delete.svg') 0 0 no-repeat;
    }
}


// form table
.form-wrapper {

    & + .form-wrapper {
        margin-top: 15px;
    }

    .form-tbl-header {
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: space-between;

        .tbl-title {
            @include font(15);
            font-weight: 500;
            padding-left: 12px;
        }

        .btn-wrap {
            margin-top: 0;
            align-self: flex-start;
            padding-right: 12px;
        }
    }

    .form-tbl-body > table.not-list {
        table-layout: fixed;
        width: 100%;
        border-top: 1px solid var(--color-secondary-dark);

        th,
        td {
            border-bottom: 1px solid var(--color-gray-300);
            padding: 12px;
            word-break: break-all;
            word-wrap: break-word;
        }

        th {
            background-color: var(--color-gray-100);
            border-right: 1px solid var(--color-gray-300);
            text-align: left;
            font-size: var(--text-14-font-size);
            font-weight: 500;
            line-height: var(--text-14-line-height);
            // vertical-align: top;
            // padding-top: 13px;
        }

        td + th {
            border-left: 1px solid var(--color-gray-300);
        }

        .require {
            color: var(--color-danger);
        }
    }
}

// upload form
.upload-popup-form {
    .field-box {
        position: relative;
        display: flex;
        height: auto;
        align-items: flex-start;

        .upload-input {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 85px;
            height: 30px;
            opacity: 0%;
        }

        .field {
            display: flex;
            flex-grow: 1;
        }

        .upload-file-list {
            width: calc(100% - 95px);
            .field {
                margin-top: 6px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &.with-preview {
        .field {
            flex-grow: initial;
        }

        .upload-image-preview {
            position: relative;
            margin-left: 6px;
            padding-right: 22px;

            img {
                width: 74px;
                height: 74px;
            }

            .btn-del {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

// 

.form-inner-box {
    display: flex;
    align-items: center;

    .field {
        & + span {
            margin: 0 6px;
        }

        input[type='text'], input[type='password'] {
            width: auto;
        }
    }

    .error-message {
        margin-top: 6px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: var(--text-13-font-size);
        line-height: var(--text-13-line-height);
        font-weight: var(--text-13-font-weight);
        color: var(--form-control-invalid-color);

        &::before {
            content: '';
            display: inline-block;
            margin-right: 6px;
            width: 14px;
            height: 14px;
            background: url('../img/icon/svg/error.svg') 0 0 no-repeat;
        }
    }
}

// 

.view-rules {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    & > span,
    & > .field {
        display: flex;
        flex-grow: 1;
        margin-right: 8px;
    }

    &.reverse {
        & > span,
        & > .field {
            order: 1;
            margin-right: 0;
            margin-left: 8px;
        }

        .btn {
            order: 0;
        }
    }
}

.btn-view-rules {
    display: inline-flex;
    height: 30px;
    align-items: center;
    padding-left: 26px;
    background: url('../img/icon/svg/document.svg') 0 50% no-repeat;
    color: var(--color-gray-800);

    &:hover {
        color: var(--color-primary);
    }
}

//

.file-download {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    .btn + a {
        display: flex;
        flex-grow: 1;
        margin-left: 12px;
        text-decoration: underline;
        color: var(--color-gray-800);

        &:hover {
            color: var(--color-primary);
        }
    }
}

//

.scroll-inner-box {
    border: 1px solid var(--color-gray-500);
    height: 115px;
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
        li {
            display: flex;
            align-items: center;
            height: 36px;
            padding: 0 12px;
            border-bottom: 1px solid var(--color-gray-300);

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

// app-list-1
.app-list-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-radius: 4px;
    padding: 0 6px 0 12px;
    border: 1px solid var(--color-gray-500);
    background-color: rgba(236, 243, 255, 0.7);
}

// app-list-2
.app-list-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-radius: 4px;
    padding: 0 6px 0 12px;
    border: 1px solid var(--color-gray-500);
    background-color: rgba(255, 246, 239, 1);

    .btn-del {
        margin-right: 6px;
    }
}

.app-list-1,
.app-list-2 {
    .title {
        display: flex;
        height: inherit;
        align-items: center;

        .btn-del + span {
            margin-left: 6px;
        }
    }

    & > .btn {
        width: 54px;
    }

    strong {
        color: var(--color-primary);
        margin-right: 3px;
    }
}

.btn-del {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: url('../img/icon/svg/delete.svg') 0 0 no-repeat;
}

//

.code-value-form {
    display: flex;
    align-items: center;

    .field {
        &:nth-child(1) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            height: 30px;
            box-shadow: 0 0 0 1px var(--color-gray-500) inset; 
            padding: 0 5px 0 10px;
            
            input.form-text {
                width: 56px;
                height: 20px;
                border: 0;
            }

            .btn-sm {
                
            }
        }

        &:nth-child(2) {
            display: flex;
            flex-grow: 1;
            input.form-text {
                border-left: 0;
            }
        }

        &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 12px;

            input.form-text {
                border-left: 0;
            }
        }
    }
}

// panel-form
.panel-wrapper {
    position: relative;
    background-color: #ecf3ff;
    padding: 12px;
    border-top: 1px solid var(--color-secondary-dark);
    display: flex;
    justify-content: space-between;

    &.type-long {
        border-top: none;
        background-color: var(--color-white);
        padding: 0;

        .panel-box {
            width: 370px;
            height: 460px;
            display: flex;
            flex-direction: column;

            .panel-box-body {
                flex-grow: 1;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        background:url('../img/icon/svg/arrow-right.svg') 0 0 no-repeat;
    }
}

.panel-box {
    width: 358px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-500);

    .panel-box-header {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--color-gray-600);
        @include font(14);
        color: var(--color-white);
    }

    .panel-th-list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        background-color: var(--color-gray-300);
        @include font(13);
        color: var(--color-gray-700);
        border-bottom: 1px solid var(--color-gray-500);

        span {
            &:nth-child(1),
            &:nth-child(2) {
                flex-grow: 1;
            }

            &:nth-child(3) {
                width: 97px;
                padding-right: 17px;
            }
        }
    }

    .panel-box-body {
        height: 180px;
        overflow-y: scroll;

        .panel-list-box {
            display: flex;
            align-items: center;
            text-align: center;
            height: 36px;
            background-color: var(--color-white);
            border-bottom: 1px solid var(--color-gray-300);

            &:last-child {
                border-bottom: none;
            }

            & > div {
                padding: 0 5px;
                @include truncate();
            }

            .panel-data {
                width: 140px;
            }
            .panel-nickname {
                width: 140px;
            }
            .panel-util {
                width: 80px;
                padding: 0 6px 0 0; 
                text-align: center;
            }
        }
    }

    

    &.purchase-reg {
        width: 100%;

        .panel-th-list {
            padding-right: 17px;
        }

        .panel-box-body {
            height: 108px;
        }

        
        [class^='cell-'] {
            &:nth-child(1) {
                width: 169px;
            }

            &:nth-child(2) {
                width: 169px;
            }

            &:nth-child(3) {
                flex-grow: 1;
            }

            input[type='text'] {
                text-align: center;
                height: 25px;
            }
        }
    }

    &.purchase-list {
        width: 100%;

        .panel-th-list {
            padding-right: 17px;
        }

        .panel-box-body {
            height: 108px;
        }

        
        [class^='cell-'] {
            &:nth-child(1) {
                width: 105px;
            }

            &:nth-child(2) {
                width: 105px;
            }

            &:nth-child(3) {
                width: 105px;
            }

            &:nth-child(4) {
                flex-grow: 1;
            }

            input[type='text'] {
                text-align: center;
                height: 25px;
            }
        }
    }
}

// 

.access-ip-list {
    border: 1px solid var(--color-gray-500);

    .access-ip-header {
        display: flex;
        justify-content: flex-start;
        height: 30px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid var(--color-gray-500);
        background-color: var(--color-gray-300);

        & > div {
            &:nth-child(1), 
            &:nth-child(2) {
                flex-grow: 1;
            }

            &:nth-child(2) {
                padding-right: 17px;
            }

            &:nth-child(3) {
                width: 120px;
                padding-right: 17px;
            }
        }
    }

    .access-ip-body {
        height: 90px;
        overflow-y: scroll;

        .access-ip-box {
            display: flex;
            justify-content: flex-start;
            height: 36px;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid var(--color-gray-300);
            background-color: var(--color-white);

            &:last-child {
                border-bottom: 0;
            }

            & > div {
                &:nth-child(1), 
                &:nth-child(2) {
                    flex-grow: 1;
                }
    
                &:nth-child(3) {
                    width: 120px;
                    padding-right: 25px;
                }
            }

            .btn-wrap {
                margin: 0;
            }
        }
    }
}

//

.field {
    &.full {
        input[type='text'],
        input[type='password'],
        select {
            width: 100%;
        }
    }
}

//

.content-scroll-viewer {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    margin: 8px 0 6px;
    padding: 0 12px;
    @include font(14);
}

//

.round-block {
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-gray-100);
    border-radius: 6px;
    padding: 10px 15px;
    margin: 15px 0;

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        font-weight: 500;
    }

    .text-danger {
        color: var(--color-red-600);
    }
}

// editor-wrapper
.editor-wrapper {
    height: 375px;
    border: 1px solid var(--color-gray-500);
}

// 

.col-3 {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;

    & > .content-box {
        width: 100%;
        justify-content: stretch;

        &.util-box {
            border: 1px solid var(--color-gray-500);
        }

        .panel-box {
            display: flex;
            flex-direction: column;
            border: none;
            width: 100%;
            height: 100%;
            min-height: 788px;

            .panel-message-box,
            .panel-search-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 44px;
                border-bottom: 1px solid var(--color-gray-500);
                padding: 7px 8px;
                background-color: var(--color-gray-100);

                .field {
                    flex-grow: 1;
                    margin-right: 10px;
                }
            }

            .panel-message-box {
                padding: 0 20px;
            }

            .panel-box-body {
                flex-grow: 1;

                .panel-list-box {
                    padding: 8px 12px;
                    height: auto;

                    .app-list-1,
                    .app-list-2 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// message-spec-wrapper
.message-spec-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #ECF3FFB2;
    padding: 10px;

    .message-spec-box {
        width: 570px;
        border: 1px solid var(--color-gray-500);
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;

        .message-spec-title {
            display: flex;
            height: 32px;
            padding: 6px 12px;
            background-color: var(--color-gray-100);
            border-bottom: 1px solid var(--color-gray-500);
            font-weight: 500;
        }

        .message-spec-subtitle {
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: var(--color-gray-600);
            color: var(--color-white);
        }

        .message-tbl-header {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            text-align: center;
            height: 30px;
            align-items: center;
            background-color: var(--color-gray-300);
            border-bottom: 1px solid var(--color-gray-500);
            padding-right: 17px;

            .cell-1 {
                width: 105px;
            }

            .cell-2 {
                width: 105px;
            }

            .cell-3 {
                width: 92px;
            }

            .cell-4 {
                width: 68px;
            }

            .cell-5 {
                width: 92px;
            }

            .cell-6 {
                flex-grow: 1;
            }
        }

        .message-tbl-body {
            overflow-y: scroll;
            flex-grow: 1;

            &.request-body {
                height: 108px;
            }

            &.response-header {
                height: 108px;
            }

            &.response-body {
                height: 144px;
            }

            .message-spec-item {
                display: flex;
                width: 100%;
                flex-wrap: nowrap;
                align-items: center;
                text-align: center;

                [class^='cell'] {
                    padding: 5px 8px;
                }

                .cell-1 {
                    width: 105px;
                }
    
                .cell-2 {
                    width: 105px;
                }
    
                .cell-3 {
                    width: 92px;
                }
    
                .cell-4 {
                    width: 68px;
                }
    
                .cell-5 {
                    width: 92px;
                }
    
                .cell-6 {
                    flex-grow: 1;
                }

                select,
                input[type='text'] {
                    width: 100%;
                    height: 25px;
                    min-width: auto;
                    @include font(13);
                    padding-left: 6px;
                    padding-right: 6px;
                }

                input[type='text'] {
                    text-align: center;
                }
            }
        }
    }
}

//

span.desc {
    color: var(--color-primary);

    &.with-icon {
        display: block;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 6px;
            width: 14px;
            height: 14px;
            background-color: var(--color-primary);
            mask-image: url(../img/icon/svg/error.svg);
        }

        .field + & {
            margin: 7px 0 0;
        }
    }
}