@use "./config" as *;

:root {
    --form-control-border-color: var(--color-gray-500);
    --form-control-color: var(--color-gray-800);
    --form-control-bg-color: var(--color-white);

    --form-control-disabled-border-color: var(--color-gray-500);
    --form-control-disabled-color: var(--color-gray-800);
    --form-control-disalbed-bg-color: rgba(236, 243, 255, 0.5);

    --form-control-invalid-border-color: var(--color-danger);
    --form-control-invalid-color: var(--color-gray-800);
    --form-control-invalid-bg-color: var(--color-white);

    --form-control-invalid-border-color: var(--color-danger);

    --form-control-placeholder-color: var(--color-gray-500); 
}

.field-wrapper {
    & + .field-wrapper {
        margin-top: 15px;
    }

    .field-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 5px;

        .title {
            @include font(15);
            font-weight: 500;
        }
    }
}

.field-container {
    border-top: 1px solid var(--color-secondary-dark);

    .field-box {
        display: table;
        table-layout: fixed;
        width: 100%;

        .label-cell,
        .field-cell {
            display: table-cell;
            padding: 8px 12px;
            height: 46px;
            vertical-align: middle;
            word-wrap: break-word;
            word-break: break-all;
        }

        .label-cell {
            width: 120px;
            min-width: 120px;
            max-width: 120px;
            background-color: var(--color-gray-100);
            @include font(14);
            font-weight: 500;
            border-bottom: 1px solid var(--color-gray-300);
            border-right: 1px solid var(--color-gray-300);
        }

        span.require {
            color: var(--color-danger);
        }

        .field-cell {
            border-bottom: 1px solid var(--color-gray-300);
            @include font(14);

            & + .label-cell {
                border-left: 1px solid var(--color-gray-300);
            }
        }
    }
}

// 

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 4px 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-500);
    @include font(14);

    @include placeholder {
        color: var(--form-control-placeholder-color);
    }

    &[disabled] {
        background-color: var(--form-control-disalbed-bg-color);
    }

    &[invalid], &.error {
        border-color: var(--form-control-invalid-border-color);
    }

    &.date {
        width: 100%;
        max-width: 125px;
        padding-right: 32px;
        background: url('../img/icon/svg/date.svg') calc(100% - 5px) 45% no-repeat;
    }

    &.period-date {
        width: 100%;
        max-width: 360px;
        padding-right: 32px;
        background: url('../img/icon/svg/date.svg') calc(100% - 5px) 45% no-repeat;
    }

    &.month {
        width: 100%;
        max-width: 125px;
        padding-right: 32px;
        background: url('../img/icon/svg/month.svg') calc(100% - 5px) 45% no-repeat;
    }

    &.num {
        width: 50px;
    }
}

//

textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--color-gray-500);
}

// 

select {
    width: 100%;
    min-width: 106px;
    padding: 4px 10px;
    border: 1px solid var(--color-gray-500);
    background: url('../img/icon/svg/arrow-down.svg') 100% 50% no-repeat;
}

//

.drop-input {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .field {
        &:nth-child(1) {
            width: 30%;
            min-width: 130px;
            background-color: var(--color-gray-100);
        }

        &:nth-child(2) {
            flex-grow: 1;

            input {
                border-left: none;
            }
        }
    }
}

//

// .period {
//     display: flex;
//     align-items: center;

//     .field {
//         input.period-date {
//             width: 100%;
//         }
//     }
// }

//

.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;

    .field {
        & + span {
            margin: 0 6px;
        }
    }
}

//

.company-no {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;

    .field {
        & + span {
            margin: 0 6px;
        }

        &:nth-child(1) {
            width: 76px;
        }

        &:nth-child(2) {
            width: 60px;
        }

        &:nth-child(3) {
            width: 184px;
        }
    }
}

//

.certificate-business-no {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;

    .field {
        width: 170px;

        & + span {
            margin: 0 6px;
        }
    }
}

//

.radio-container {
    display: inline-flex;
    align-items: center;
    min-height: 30px;

    .field {
        display: inline-flex;

        & + .field {
            margin-left: 15px;
        }

        .radio {
            cursor: pointer;
            appearance: none;
            background-color: var(--color-white);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            display: grid;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-gray-500);

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transform: scale(0);
                box-shadow: inset 10px 10px var(--color-primary);
            }

            &:checked {
                background: var(--color-white);
                border-color: var(--color-primary);
            }

            &:checked::before {
                transform: scale(1);
            }

            & + label {
                cursor: pointer;
                margin-left: 6px;
            }

            &[disabled] {
                border: 1px solid var(--color-secondary-light);
                background-color: var(--color-gray-200);

                & + label {
                    color: var(--color-gray-500);
                }
            }
        }
    }
}

// 

.checkbox-container {
    display: inline-flex;
    align-items: center;
    min-height: 30px;

    .field {
        display: inline-flex;

        & + .field {
            margin-left: 15px;
        }

        .checkbox {
            cursor: pointer;
            display: flex;
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-gray-500);
            background-color: var(--color-white);
            overflow: hidden;
            border-radius: 2px;
            overflow: hidden;
            align-items: center;
            justify-content: center;

            &:checked {
                position: relative;
                border-color: var(--color-primary);

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    background: url('../img/icon/svg/checked.svg') 50% 50% no-repeat;
                }
            }

            & + label {
                cursor: pointer;
                margin-left: 6px;
            }

            &[disabled] {
                border: 1px solid var(--color-secondary-light);
                background-color: var(--color-gray-200);

                & + label {
                    color: var(--color-gray-500);
                }
            }
        }
    }
}

//

.toggle-container {
    display: flex;
    align-items: center;
    height: 30px;

    .toggle {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        .toggle-switch {
            display: inline-block;
            background-color: var(--color-gray-500);
            border-radius: 46px;
            width: 36px;
            height: 20px;
            position: relative;
            transition: background 0.25s;

            &::before, &::after {
                content: '';
            }

            &::before {
                display: block;
                background: var(--color-white);
                border-radius: 50%;
                width: 14px;
                height: 14px;
                box-shadow: var(--shadow-regular);
                position: absolute;
                top: 3px;
                left: 3px;
            }
        }

        .toggle-input {
            display: none;

            &:checked + .toggle-switch {
                background-color: var(--color-primary);

                &:before {
                    left: 19px;
                }
            }
        }

        .toggle-label {
            margin-left: 6px;
            color: var(--color-gray-800);
        }
    }
}

//

.input-btn-container,
.text-btn-container,
.select-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .field {
        flex: 1;
        min-width: 0;
        
        .txt,
        select {
            width: 100%;
        }
    }

    .btn-wrap {
        flex-shrink: 0;
        margin-left: 4px;
    }
}

// file upload
.file-upload-container {
    position: relative;
    display: flex;
    align-items: center;

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 84px;
        height: 30px;
        border: 1px solid red;
        opacity: 0;
        cursor: pointer;
    }

    .btn-wrap {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 84px;
        height: 30px;

        .btn {
            margin: 0;
        }
    }
    
    .field-wrap {
        width: calc(100% - 84px);
        margin-left: 92px;

        .field {
            input, select {
                width: 100%;
            }

            & ~ .field {
                margin-top: 6px;
            }
        }
    }
}

// 
.file-upload-search-container {
    display: flex;
    align-items: center;

    .field {
        flex: 1;
        min-width: 0;
    }

    .btn-wrap {
        flex-shrink: 0;
        margin-left: 8px;

        .btn {
            margin: 0;

            &:first-child{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

//

.upload-image {
    position: relative;
    padding-right: 22px;

    img {
        display: block;
        width: 74px;
        height: 74px;
        border: 1p solid var(--color-gray-500);
    }

    .btn-del {
        position: absolute;
        top: 0;
        left: 76px;
    }
}

//

.codeview-container {
    display: flex;
    align-items: center;
    min-height: 30px;

    .field-box {
        flex: 1;
        min-width: 0;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .field {
            flex-shrink: 0;
            min-width: 120px;

            position: relative;
            width: 120px;
            display: flex;
            align-items: center;
            border: 1px solid var(--color-gray-500);

            .num {
                border: none;
            }

            .btn {
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                z-index: 1;
            }
        }

        .chk-msg-box {
            @include truncate();
            display: flex;
            align-items: center;
            width: calc(100% - 30px);
            height: 30px;
            padding: 0 6px;
            border: 1px solid var(--color-gray-500);
            border-left: none;
            color: var(--color-primary);
            background-color: rgba(236, 243, 255, 0.5);

            span {
                display: block;
                @include truncate();
            }
        }
    }

    .toggle-container {
        flex-shrink: 0;
        margin-left: 12px;
    }
}

//

.textarea-btn-container {
    .btn-wrap {
        margin-top: 8px;
    }
}

// 

.file-download-container {
    display: flex;
    align-items: center;
    
    .btn {
        min-width: 0;
    }

    .filename {
        flex-shrink: 0;
        margin-left: 8px;

        span {
            text-decoration: underline;
        }
    }
}

//

input {
    & + p.primary {
        margin-top: 9px;
        color: var(--color-primary);
        padding-left: 20px;
        background: url('../img/icon/svg/alarm-primary.svg') 0 50% no-repeat;

        &.horizontal {
            display: inline-flex;
            margin-top: 0;
            margin-left: 6px;
        }

        &.no-icon {
            padding-left: 0;
            background: none;
        }
    }

    & + p.error {
        margin-top: 9px;
        color: var(--color-danger);
        padding-left: 20px;
        background: url('../img/icon/svg/error.svg') 0 50% no-repeat;

        &.horizontal {
            display: inline-flex;
            margin-top: 0;
            margin-left: 6px;
        }
    }
}

//

.field {
    &.with-del {
        position: relative;
        
        .txt {
            padding-right: 32px;
        }

        .btn-del {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }
    }
}

// file upload
.btn-select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-wrap {
        flex-shrink: 0;
        justify-content: flex-start;

        .btn {
            margin: 0;
        }
    }

    .field {
        margin-left: 8px;
        flex: 1;
        min-width: 0;
        input, select {
            width: 100%;
        }
    }
}