@use "./config" as *;

i {
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.download {
        mask-image: url('../img/icon/svg/download.svg');
    }

    &.excel {
        mask-image: url('../img/icon/svg/excel.svg');
    }

    &.minus {
        mask-image: url('../img/icon/svg/minus.svg');
    }

    &.plus {
        width: 15px !important;
        height: 15px !important;
        mask-image: url('../img/icon/svg/plus.svg');
    }

    &.user {
        mask-image: url('../img/icon/svg/user.svg');
    }

    &.upload {
        mask-image: url('../img/icon/svg/upload.svg');
    }

    &.arrow-right {
        mask-image: url('../img/icon/svg/arrow-right.svg');
    }

    &.api-add {
        mask-image: url('../img/icon/svg/api-add.svg');
    }

    &.excel {
        mask-image: url('../img/icon/svg/excel.svg');
    }

    &.chevron-arrow-right {
        mask-image: url('../img/icon/svg/chevron-arrow-right.svg');
    }

    &.del {
        background-image: url('../img/icon/svg/delete.svg');
    }

    &.doc {
        background-image: url('../img/icon/svg/document.svg');
    }

    &.arrow-down-white {
        width: 18px !important;
        height: 18px !important;
        mask-image: url('../img/icon/svg/arrow-down-white.svg');
    }
}