@use 'config' as *;
@use 'sass:math';
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    // colors
    @each $colorName, $colorArray in $colors {
        @each $colorDepth, $colorValue in $colorArray {
            @if $colorDepth == 'default' {
                --color-#{$colorName}: #{$colorValue};
            } @else {
                --color-#{$colorName}-#{$colorDepth}: #{$colorValue};
            }
        }
    }

    // headings
    @each $headingName, $headingArray in $headings {
        @each $headingDepth, $headingValue in $headingArray {
            --#{$headingName}-#{$headingDepth}: #{$headingValue};
        }
    }
    
    // text
    @each $textName, $textArray in $texts {
        @each $textDepth, $textValue in $textArray {
            --text-#{$textName}-#{$textDepth}: #{$textValue};
        }
    }

    // box-shadow 
    @each $boxshadowType, $boxshadowValue in $boxshadow {
        --shadow-#{$boxshadowType}: #{$boxshadowValue};
    }

    // header-height
    --header-height: 65px;
    
    // sidebar
    --sidenav-width: 180px;

    // footer-height
    --footer-height: 46px;
}

html {
    height: 100%;
    body,
    #wrap {    
        height: inherit;
        min-height: inherit;
    }
}

body {
    min-width: 1200px;
    font-family: $font-primary;
    font-weight: $font-weight-primary;
    background-color: var(--color-gray-100);
    font-size: var(--text-14-font-size);
    line-height: var(--text-14-line-height);
    letter-spacing: -.2px;

    @include fontSmooth;
}

h1, .h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: var(--h1-font-weight);
}

h2, .h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: var(--h2-font-weight);
}

h3, .h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-font-weight);
}

h4, .h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    font-weight: var(--h4-font-weight);
}

h5, .h5 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    font-weight: var(--h5-font-weight);
}

.sr-hide {
    @include srHide;
}

.sr-show {
    @include srShow;
}