@use "../../assets/scss/config" as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 30px;
    min-width: 65px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.2px;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;

    &:hover, &:active {
        background-color: var(--color-primary-dark);
    }

    &.btn-round {
        border-radius: 50px;
        padding: 6px 12px;
    }

    &.btn-sm {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        padding: 0 6px;
        height: 22px;
        min-width: 42px;

        &.btn-round {
            padding: 2px 8px;
        }

        i {
            width: 14px;
            height: 14px;
        }
    }

    &.btn-lg {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 0 8px;
        height: 36px;
        min-width: 75px;

        &.btn-round {
            padding: 8px 12px;
        }
    }

    & > i {
        display: inline-flex;
        width: 20px;
        height: 20px;
        background-color: #fff;
        margin-top: -1px;
        margin-right: 3px;
    }

    &.btn-outlined {
        color: var(--color-primary);
        background-color: var(--color-white);
        border: 1px solid var(--color-blue-400);

        &:hover, &:active {
            background-color: var(--color-primary-light);
        }

        i {
            background-color: var(--color-primary);
        }
    }

    &.btn-icon-right {
        & > i {
            order: 1;
            margin-right: 0;
            margin-left: 6px;
        }

        & > span {
            order: 0;
        }
    }

    // success
    &.btn-success {
        border-color: var(--color-green-700);
        background-color: var(--color-green-700);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-green-800);
        }

        i {
            background-color: #fff;
        }

        &.btn-outlined {
            color: var(--color-green-700);
            border: 1px solid var(--color-green-700);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-green-100);
            }

            i {
                background-color: var(--color-green-700);
            }
        }
    }

    // danger
    &.btn-danger {
        border-color: var(--color-red-500);
        background-color: var(--color-red-500);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-red-600);
        }

        i {
            background-color: #fff;
        }

        &.btn-outlined {
            color: var(--color-red-600);
            border: 1px solid var(--color-red-600);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-red-100);
            }

            i {
                background-color: var(--color-red-600);
            }
        }
    }

    // warning 
    &.btn-warning {
        border-color: var(--color-orange-600);
        background-color: var(--color-orange-600);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-orange-700);
        }

        &.btn-outlined {
            color: var(--color-orange-600);
            border: 1px solid var(--color-orange-600);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-orange-100);
            }

            i {
                background-color: var(--color-orange-600);
            }
        }
    }

    // focus 
    &.btn-focus {
        border-color: var(--color-indigo-500);
        background-color: var(--color-indigo-500);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-indigo-600);
        }

        &.btn-outlined {
            color: var(--color-indigo-500);
            border: 1px solid var(--color-indigo-500);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-indigo-100);
            }

            i {
                background-color: var(--color-indigo-600);
            }
        }
    }

    // focus 
    &.btn-info {
        border-color: var(--color-teal-500);
        background-color: var(--color-teal-500);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-teal-600);
        }

        &.btn-outlined {
            color: var(--color-teal-500);
            border: 1px solid var(--color-teal-500);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-teal-100);
            }

            i {
                background-color: var(--color-teal-600);
            }
        }
    }

    // secondary 
    &.btn-secondary {
        border-color: var(--color-secondary);
        background-color: var(--color-secondary);
        color: #fff;

        &:hover, &:active {
            background-color: var(--color-gray-700);
        }

        &.btn-outlined {
            color: var(--color-secondary-dark);
            border: 1px solid var(--color-secondary);
            background-color: #fff;

            &:hover, &:active {
                background-color: var(--color-gray-200);
            }

            i {
                background-color: var(--color-gray-600);
            }
        }
    }
}

// btn more
.btn-dot-more {
    display: inline-flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-secondary);
    background-color: #fff;
    color: var(--color-secondary);
    border-radius: 3px;

    &:hover, &:active {
        background-color: var(--color-gray-100);
    }

    &::before {
        content: '';
        display: flex;
        width: 16px;
        height: 3px;
        align-items: center;
        justify-content: center;
        background-color: var(--color-secondary);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        mask-image: url('../img/icon/svg/dot-more.svg');
    }
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;

    .btn {
        margin: 0 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

//

.btn-del {
    display: flex;
    width: 20px;
    height: 20px;

    i {
        width: inherit;
        height:inherit;
    }
}

//

.btn-file-view {
    display: inline-flex;
    align-items: center;
    height: 30px;

    i.doc {
        display: inline-flex;
        width: 20px;
        height: 20px;
        align-items: center;

        + span {
            margin-left: 6px;
        }
    }
}

//

.applist-type-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-gray-500);
    background-color: rgba(236, 243, 255, 0.7);
    padding: 0 6px; 
    width: 100%;
    height: 30px;

    .title {
        strong {
            font-weight: 500;
            color: var(--color-primary);
        }
    }
}

//

.applist-type-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-gray-500);
    background-color: var(--color-orange-100);
    padding: 0 6px;
    width: 100%;
    height: 30px;

    .title {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .btn-del + strong {
            margin-left: 4px;
        }

        strong {
            font-weight: 500;
            color: var(--color-primary);

            & + span {
                margin-left: 4px;
            }
        }
    }
}