@use "../../assets/scss/config" as *;

// light-mode
aside#sidenav {
    --sidenav-bg-color: var(--color-white);
    --sidenav-border-right-color: var(--color-gray-300);
    --sidenav-link-color: var(--color-gray-800);
    --sidenav-hover-color: var(--color-primary);
    --sidenav-hover-bg-color: var(--color-gray-100);
    --sidenav-depth-bg-color: var(--color-gray-100);
    --sidenav-depth-dot-bg-color: var(--color-gray-800);
    --sidenav-depth-hover-bg-color: var(--color-white);
    --sidenav-depth-hover-dot-bg--color: var(--color-primary);
    --sidenav-depth-hover-color: var(--color-primary);
}

// dark-mode
@at-root body.dark-mode {
    aside#sidenav {
        --sidenav-bg-color: var(--color-secondary);
        --sidenav-border-right-color: var(--color-secondary);
        --sidenav-link-color: var(--color-white);
        --sidenav-hover-color: var(--color-white);
        --sidenav-hover-bg-color: var(--color-primary-dark);
        --sidenav-depth-bg-color: var(--color-secondary-dark);
        --sidenav-depth-dot-bg-color: var(--color-white);
        --sidenav-depth-hover-bg-color: var(--color-gray-800);
        --sidenav-depth-hover-dot-bg--color: var(--color-white);
        --sidenav-depth-hover-color: var(--color-white);
    }
}

aside#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidenav-width);
    max-width: var(--sidenav-width);
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--sidenav-bg-color);
    border-right: 1px solid var(--sidenav-border-right-color);
    padding-top: calc( var(--header-height) + 8px);

    .depth-nav {
        display: none;
        background-color: var(--sidenav-depth-bg-color);
        padding: 6px 0;
        list-style-type: square;

        & > li {
            & > a {
                display: flex;
                width: 100%;
                height: 34px;
                align-items: center;
                color: var(--sidenav-link-color);
                font-size: var(--text-14-font-size);
                font-weight: 500;
                line-height: var(--text-14-line-height);
                background-color: var(--sidenav-depth-bg-color);
                padding-left: 25px;

                &::before {
                    content: '';
                    width: 3.5px;
                    height: 3.5px;
                    background-color: var(--sidenav-depth-dot-bg-color);
                    margin-right: 8px;
                }

                &:hover, &:active, &.is-active {
                    background-color: var(--sidenav-depth-hover-bg-color);
                    color: var(--sidenav-depth-hover-color);
                    &::before {
                        background-color: var(--sidenav-depth-hover-dot-bg--color);
                    }
                }
            }
        }
    }

    & > ul {
        & > li {
            & > a {
                position: relative;
                color: var(--sidenav-link-color);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 36px;
                font-size: var(--text-14-font-size);
                font-weight: 600;
                line-height: var(--text-14-line-height);
                padding-left: 16px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3px;
                    height: 100%;
                    z-index: 1;
                }

                span {
                    flex: 1;
                }

                @for $i from 1 through 11 {
                    i.sidenav-icon-#{$i} {
                        margin-right: 10px;
                        display: inline-flex;
                        width: 16px;
                        height: 16px;
                        // background: url('../img/icon/svg/sidenav-icon-#{$i}.svg') 50% 50% no-repeat;
                        background-color: var(--sidenav-link-color);
                        mask-image: url('../img/icon/svg/sidenav-icon-#{$i}.svg');
                    }
                }

                &:hover, &.is-active {
                    color: var(--sidenav-hover-color);
                    background-color: var(--sidenav-hover-bg-color);

                    &::before {
                        background-color: var(--sidenav-hover-bg-color);
                    }

                    i {
                        background-color: var(--sidenav-hover-color);
                    }
                }
            }

            &.has-depth-nav {
                & > a{
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 16px;
                        width: 14px;
                        height: 14px;
                        transform: translateY(-50%);
                        background: url('../img/icon/svg/has-depth-nav.svg') 50% 50% no-repeat;
                    }

                    &.is-active{
                        &::after {
                            transform: translateY(-50%) rotate(-180deg);
                        }

                        & + .depth-nav {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}