<!--
    * 2뎁스 메뉴가 있다면 부모 li에 class="has-depth-nav" 추가
    * 활성화된 메뉴라면 해당 <a>에 class="is-active" 추가
-->
<aside id="sidenav">
    <ul>
        <li>
            <a href="#">
                <i class="sidenav-icon-1"></i>
                <span>대시보드</span>
            </a>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-2"></i>
                <span>승인</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">승인대기 목록</a></li>
                <li><a href="#" class="is-active">승인진행상황 조회</a></li>
                <li><a href="#">승인요청 목록</a></li>
                <li><a href="#">승인라인 설정</a></li>
            </ul>
        </li>
        <li class="has-depth-nav">
            <a href="#" class="is-active">
                <i class="sidenav-icon-3"></i>
                <span>API</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">API 목록</a></li>
                <li><a href="#">API 규격 목록</a></li>
                <li><a href="#">API 서비스 목록</a></li>
                <li><a href="#">API 이용약관</a></li>
                <li><a href="#">API 규격 그룹 목록</a></li>
            </ul>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-4"></i>
                <span>APP</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">전체 앱 목록</a></li>
                <li><a href="#">내가 만든 앱</a></li>
            </ul>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-5"></i>
                <span>과금</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">과금정책</a></li>
                <li><a href="#">할인정책</a></li>
                <li><a href="#">기관할인정책</a></li>
                <li><a href="#">청구명세서목록</a></li>
                <li><a href="#">보상명세서목록</a></li>
                <li><a href="#">조정 내용</a></li>
                <li><a href="#">청구명세서발급목록</a></li>
                <li><a href="#">보상명세서발급목록</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="sidenav-icon-6"></i>
                <span>사용자</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidenav-icon-7"></i>
                <span>기관</span>
            </a>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-8"></i>
                <span>시스템</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">GW관리</a></li>
                <li><a href="#">역할관리</a></li>
                <li><a href="#">메뉴관리</a></li>
                <li><a href="#">템플릿관리</a></li>
                <li><a href="#">커뮤니티관리</a></li>
                <li><a href="#">코드관리</a></li>
                <li><a href="#">시스템로그목록</a></li>
                <li><a href="#">보상명세서발급목록</a></li>
            </ul>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-9"></i>
                <span>통계</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">API 사용 그래프</a></li>
                <li><a href="#">API 제공 그래프</a></li>
                <li><a href="#">API 사용 리스트</a></li>
                <li><a href="#">API 제공 리스트</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="sidenav-icon-10"></i>
                <span>컨텐츠</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">개인정보수집동의서</a></li>
                <li><a href="#">정적컨텐츠</a></li>
            </ul>
        </li>
        <li class="has-depth-nav">
            <a href="#">
                <i class="sidenav-icon-11"></i>
                <span>Portal 연동</span>
            </a>

            <ul class="depth-nav">
                <li><a href="#">API 내보내기</a></li>
                <li><a href="#">API 가져오기</a></li>
                <li><a href="#">APP 내보내기</a></li>
                <li><a href="#">APP 가져오기</a></li>
                <li><a href="#">기관 내보내기</a></li>
                <li><a href="#">기관 가져오기</a></li>
                <li><a href="#">전송이력</a></li>
                <li><a href="#">연동 Portal관리</a></li>
            </ul>
        </li>
    </ul>
</aside>