@use "../../assets/scss/config" as *;

.popup-wrapper {
    position: relative;
    border: 1px solid var(--color-gray-800);
    background-color: #fff;
    box-shadow: var(--shadow-regular);
    border-radius: 4px;

    .popup-header {
        display: flex;
        height: 40px;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid var(--color-gray-800);
    }

    .popup-content {
        background-color: var(--color-gray-100);
        padding: 10px;
    }

    .popup-footer {
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid var(--color-gray-800);
    }

    .popup-close {
        position: absolute;
        top: 10px; 
        right: 10px;
        z-index: 1;
    }
}