<%- include("../components/00_head/_head.html", { document_title: '결재선 관리' }) %>

<style>
    .gap { margin: 20px 0;}
</style>


<!-- popup -->
<!-- 
    popup 사이즈
    default: 800px;
    .popup-size-lg : 1200px;
    .popup-size-sm : 620px;
-->
<div class="popup-wrapper popup-type-content">
    <div class="popup-header">결재선 관리</div>
    <div class="popup-body">
        <div class="popup-content">   

            <!-- form-wrapper -->
            <div class="form-wrapper">
                <div class="form-tbl-body">
                    <div class="panel-wrapper type-long">
                        <div class="panel-box panel-charger">
                            <div class="panel-box-header">
                                승인자 정보
                            </div>
                            <div class="panel-th-list">
                                <span>데이터</span>
                                <span>닉네임</span>
                                <span>선택</span>
                            </div>
                            <div class="panel-box-body">
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1managerp1manager</div>
                                    <div class="panel-nickname">1제공매니저1제공매니저1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                            </div>
                        </div>
        
                        <div class="panel-box panel-line">
                            <div class="panel-box-header">
                                승인 라인
                            </div>
                            <div class="panel-th-list">
                                <span>데이터</span>
                                <span>닉네임</span>
                                <span>선택</span>
                            </div>
                            <div class="panel-box-body">
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저1제공매니저1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                                 
                                <!-- panel-list-box -->
                                <div class="panel-list-box">
                                    <div class="panel-data">p1manager</div>
                                    <div class="panel-nickname">1제공매니저</div>
                                    <div class="panel-util">
                                        <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                                    </div>
                                </div>
                                <!-- // panel-list-box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // form-wrapper -->
        </div>
    </div>
    <div class="popup-footer">
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonColor: 'btn-secondary',
            buttonText: '취소'
        }) %>
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonText: '저장'
        }) %>
    </div>

    <div class="popup-close">
        <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
    </div>
</div>
<!-- // popup -->


<!-- popup-mask -->
<div id="popup-mask"></div>

<%- include("../components/10_foot/_foot.html") %>
