<%- include("../components/00_head/_head.html", { document_title: '이용약관 사용' }) %>

<style>
    .gap { margin: 20px 0;}
</style>


<!-- popup -->
<!-- 
    popup 사이즈
    default: 800px;
    .popup-size-lg : 1200px;
    .popup-size-sm : 620px;
-->
<div class="popup-wrapper popup-type-content">
    <div class="popup-header">이용약관 사용</div>
    <div class="popup-body">
        <div class="popup-content">   

            <!-- form-wrapper -->
            <div class="form-wrapper">
                <!-- form-tbl-header -->
                <div class="form-tbl-header">
                    <span class="tbl-title">
                        기본정보
                    </span>
                </div>
                <!-- // form-tbl-header -->

                <div class="form-tbl-body">
                    <table class="not-list">
                        <colgroup>
                            <col style="width:135px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tr>
                            <td colspan="2">
                                <div class="content-scroll-viewer">
                                    제1장 총칙<br>
                                    제1조(목적)<br>
                                    본 약관은 XXX(이하 "당 사이트")가 제공하는 모든 서비스(이하 "서비스")의 이용조건 및 절차, 이용자와 당 사이트의 권리, 의무, 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
                                    <br>
                                    제2조(용어의 정의)<br>
                                    본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
                                    <br>
                                    ① 이용자 : 본 약관에 따라 당 사이트가 제공하는 서비스를 이용할 수 있는 자.<br>
                                    ② 가 입 : 당 사이트가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위<br>
                                    ③ 회 원 : 당 사이트에 개인정보 등 관련 정보를 제공하여 회원등록을 한 개인(재외국민, 국내거주 외국인 포함)또는 법인으로서 당 사이트의 정보를 제공 받으며, 당 사이트가 제공하는 서비스를 이용할 수 있는 자.<br>
                                    ④ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 문자와 숫자의 조합으로 설정한 고유의 체계<br>
                                    ⑤ 비밀번호 : 이용자와 아이디가 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여 이용자 자신이 선정한 문자와 숫자의 조합.<br>
                                    ⑥ 탈 퇴 : 회원이 이용계약을 종료 시키는 행위<br>
                                    ⑦ 본 약관에서 정의하지 않은 용어는 개별서비스에 대한 별도 약관 및 이용규정에서 정의하거나 일반적인 개념에 의합니다.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>파일 다운로드</th>
                            <td>
                                <div class="file-download">
                                    <button type="button" class="btn btn-primary btn-outlined"><span>파일 다운로드</span></button>
                                    <a href="#">첨부파일.pdf</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="round-block">
                    <strong>해당 이용약관을 기본으로 사용하시겠습니까?</strong>
                </div>

                <div class="round-block">
                    <div class="field">
                        <input type="checkbox" class="checkbox-input" id="check-1-1" checked="">
                        <label class="checkbox" for="check-1-1"><span>상기 이용약관에 동의합니다.</span><span class="text-danger">(필수)</span></label>
                    </div>
                </div>
            </div>
            <!-- // form-wrapper -->
        </div>
    </div>
    <div class="popup-footer">
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonColor: 'btn-secondary',
            buttonText: '취소'
        }) %>
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonText: '확인'
        }) %>
    </div>

    <div class="popup-close">
        <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
    </div>
</div>
<!-- // popup -->


<!-- popup-mask -->
<div id="popup-mask"></div>

<%- include("../components/10_foot/_foot.html") %>
