<%- include("../components/00_head/_head.html", { document_title: 'APP 등록/수정' }) %>

<style>
    .gap { margin: 20px 0;}
</style>


<!-- popup -->
<!-- 
    popup 사이즈
    default: 800px;
    .popup-size-lg : 1200px;
    .popup-size-sm : 620px;
-->
<div class="popup-wrapper popup-type-content popup-size-lg">
    <div class="popup-header">APP 등록/수정</div>
    <div class="popup-body">
        <div class="popup-content">         
            
            <div class="col-3">
                <!-- content-box -->
                <div class="content-box">
                    <!-- form-wrapper -->
                    <div class="form-wrapper">
                        <!-- form-tbl-header -->
                        <div class="form-tbl-header">
                            <span class="tbl-title">APP 기본정보</span>
                        </div>
                        <!-- // form-tbl-header -->

                        <div class="form-tbl-body">
                            <table class="not-list">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tr>
                                    <th>APP 버전</th>
                                    <td>v2.2.2</td>
                                </tr> 
                                <tr>
                                    <th>기관 <span class="require">*</span></th>
                                    <td>
                                        <div class="field full">
                                            <select class="form-select">
                                                <option>기관선택</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>APP명 <span class="require">*</span></th>
                                    <td>
                                        <div class="field full">
                                            <select class="form-select">
                                                <option>1원 송금 API</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>사용자 정의<br>매개변수 <span class="require">*</span></th>
                                    <td>
                                        <div class="field">
                                            <textarea class="form-control form-text" style="height: 100px;"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>인증서</th>
                                    <td>
                                        <div class="field">
                                            <textarea class="form-control form-text" style="height: 100px;"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>호출 Bundle</th>
                                    <td>
                                        <div class="field full">
                                            <select class="form-select">
                                                <option>초기 호출 Bundle 선택</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>APP 설명</th>
                                    <td>
                                        <div class="field">
                                            <textarea class="form-control form-text" style="height: 100px;"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>APP 버전</th>
                                    <td>
                                        <span class="badge badge-secondary badge-lg">Ver 1.2.1</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>이용약관 <span class="require">*</span></th>
                                    <td>
                                        <div class="view-rules">
                                            <div class="field full">
                                                <select class="form-select">
                                                    <option>Field</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>API명세서 <span class="require">*</span></th>
                                    <td>
                                        <div class="view-rules reverse">
                                            <div class="field full">
                                                <select class="form-select">
                                                    <option>Field</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-secondary btn-outlined"><span>약관보기</span></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- // form-wrapper -->
                </div>
                <!-- // content-box -->

                <!-- content-box -->
                <div class="content-box util-box">
                    <div class="panel-box">
                        <div class="panel-box-header">
                            API 내역
                        </div>
                        <div class="panel-search-box">
                            <div class="field ">
                                <input type="text" class="form-control form-text" placeholder="API명 입력">
                            </div>
                            <button type="button" class="btn btn-secondary btn-outlined"><span>검색</span></button>
                        </div>
                        <div class="panel-box-body">
                            <% for(var i = 0; i < 30; i++) {%>
                            <!-- panel-list-box -->
                            <div class="panel-list-box">
                                <div class="app-list-1">
                                    <div class="title">
                                        <strong>[제공1기관]</strong> <span>1원 송금 API</span>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-secondary btn-select btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                </div>
                            </div>
                            <!-- // panel-list-box -->
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- // content-box -->

                <!-- content-box -->
                <div class="content-box util-box">
                    <div class="panel-box">
                        <div class="panel-box-header">
                            API 내역
                        </div>
                        <div class="panel-message-box">
                            API 삭제 및 약관동의를 관리하세요.
                        </div>
                        <div class="panel-box-body">
                            <% for(var i = 0; i < 30; i++) {%>
                            <!-- panel-list-box -->
                            <div class="panel-list-box">
                                <div class="app-list-2">
                                    <div class="title">
                                        <button type="button" class="btn-del"><span class="sr-hide">삭제</span></button>
                                        <strong>[제공1기관]</strong> <span>1원 송금 API</span>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-secondary btn-outlined"><span>약관동의</span></button>
                                </div>
                            </div>
                            <!-- // panel-list-box -->
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- // content-box -->
            </div>

        </div>
    </div>
    <div class="popup-footer">
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonColor: 'btn-secondary',
            buttonText: '취소'
        }) %>
        <%- include('../components/button/_button.html', {
            buttonSize: 'btn-lg',
            buttonText: '저장'
        }) %>
    </div>

    <div class="popup-close">
        <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
    </div>
</div>
<!-- // popup -->


<!-- popup-mask -->
<div id="popup-mask"></div>

<%- include("../components/10_foot/_foot.html") %>
