<%- include("../components/00_head/_head.html", { document_title: 'API 이용약관 등록/수정' }) %>

<!-- popup -->
<div class="popup-wrapper">
    <div class="popup-container popup-type-content">
        <div class="popup-header">
            API 이용약관 등록/수정
        </div>
        <div class="popup-body">
            <div class="popup-content">
                
                <div class="field-wrapper">
                    <div class="field-container">
                        <div class="field-box">
                            <div class="label-cell">기관 <span class="require">*</span></div>
                            <div class="field-cell">
                                <div class="field">
                                    <select>
                                        <option value="">기관전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field-box">
                            <div class="label-cell">약관명 <span class="require">*</span></div>
                            <div class="field-cell">
                                <div class="field">
                                    <select>
                                        <option value="">송금서비스</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field-box column-type">
                            <div class="label-cell">약관내용 <span class="require">*</span></div>
                            <div class="field-cell">
                                <div class="notice-write-form">
                                    <!-- 에디터 들어올 자리 -->
                                    write form
                                </div>
                            </div>
                        </div>

                        <div class="field-box">
                            <div class="label-cell">Multi Upload</div>
                            <div class="field-cell">
                                <div class="file-upload-container">
                                    <input type="file" class="txt upload">
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-primary btn-outlined"><i class="upload"></i><span>파일선택</span></button>
                                    </div>
                                    <div class="field-wrap">
                                        <div class="field with-del">
                                            <input type="text" class="txt" placeholder="파일명 입력">
                                            <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일삭제</span></button>
                                        </div>
                                        
                                        <div class="field with-del">
                                            <input type="text" class="txt" placeholder="파일명 입력">
                                            <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일삭제</span></button>
                                        </div>
                                        
                                        <div class="field with-del">
                                            <input type="text" class="txt" placeholder="파일명 입력">
                                            <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일삭제</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup-footer">
            <div class="btn-wrap">
                <button type="button" class="btn btn-secondary btn-lg"><span>취소</span></button>
                <button type="button" class="btn btn-primary btn-lg"><span>확인</span></button>
            </div>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
</div>
<!-- // popup -->

<%- include("../components/10_foot/_foot.html") %>
