<%- include("../components/00_head/_head.html", { document_title: 'alert 5' }) %>

<div class="popup-wrapper">
    <div class="popup-container popup-content-sm">
        <div class="popup-header"> 정적 리소스 추가 </div>
        <div class="popup-body">
            <div class="popup-content">
                <div class="primary-small-box">rsmMVA4sToe6oMPrgIlZEH7QOVZ7bzMv</div>
                <p> App Secret를 확인해 주세요.</p>
            </div>
        </div>
        <div class="popup-footer">
            <a href="#" class="btn btn-lg btn-secondary">
                <span class="text">취소</span>
            </a>
            <a href="#" class="btn btn-lg btn-primary">
                <span class="text">확인</span>
            </a>
        </div>
        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
</div>

<%- include("../components/10_foot/_foot.html") %>