<%- include("../components/00_head/_head.html", { document_title: 'FORM' }) %>
    <style>
        body { background-color: var(--color-secondary-light); }
        .form-wrapper { width: 800px; margin: 0 auto; padding: 20px; background-color: var(--color-white);}
    </style>
    <div class="form-wrapper">
        <div class="form-tbl-body">
            <table class="not-list">
                <colgroup>
                    <col style="width:135px;">
                    <col style="width:auto;">
                    <col style="width:135px;">
                    <col style="width:auto;">
                </colgroup>
                <tr>
                    <th>
                        API명
                        <span class="require">*</span>
                    </th>
                    <td>
                        <%- include('../components/forms/_text.html', { formPlaceholder : '승인선명 입력' }) %>
                    </td>
                    <th>상태</th>
                    <td>
                        <%- include('../components/badge/_badge.html', {
                            badgeText: '성공',
                            badgeColor: 'badge-success'
                        }) %>
                        
                        <%- include('../components/badge/_badge.html', {
                            badgeText: '실패',
                            badgeColor: 'badge-danger'
                        }) %>
                        
                        <%- include('../components/badge/_badge.html', {
                            badgeText: '진행중',
                            badgeColor: 'badge-primary'
                        }) %>
                    </td>
                </tr>
                <tr>
                    <th>
                        API명
                        <span class="require">*</span>
                    </th>
                    <td>
                        <%- include('../components/forms/_text.html', { formPlaceholder : '승인선명 입력' }) %>
                    </td>
                    <th>활성상태</th>
                    <td>
                        <%- include('../components/forms/_checkbox.html', {
                            labelText: '활성'
                        }) %>
                    </td>
                </tr>
                <tr>
                    <th>제목 <span class="require">*</span></th>
                    <td colspan="3"><%- include('../components/forms/_text.html', { formControlValue : '1원 송금 API - 승인요청' }) %></td>
                </tr>
                <tr>
                    <th>승인요청자 <span class="require">*</span></th>
                    <td colspan="3"><%- include('../components/forms/_text.html', { formControlValue : '제공기관1 매니저' }) %></td>
                </tr>
                <tr>
                    <th>승인의견</th>
                    <td colspan="3">
                        <textarea class="form-control form-text" style="height: 54px;">승인 또는 반려 의견 입력</textarea>
                        <div class="btn-wrap">
                            <%- include('../components/button/_button.html', {
                                buttonColor: 'btn-secondary',
                                buttonOutlined: true,
                                buttonText: '취소'
                            }) %>
                            <%- include('../components/button/_button.html', {
                                buttonText: '승인',
                                buttonOutlined: true,
                            }) %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="3">
                        <textarea class="form-control form-text" style="height: 54px;">승인 또는 반려 의견 입력</textarea>
                    </td>
                </tr>
                <tr>
                    <th>기관 <span class="require">*</span></th>
                    <td colspan="3">
                        <%- include("../components/forms/_select.html", { }) %>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일 등록</th>
                    <td colspan="3">
                        <div class="upload-popup-form">
                            <div class="field-box">
                                <input type="file" class="upload-input">
        
                                <div class="field">
                                    <%- include('../components/button/_button.html', {
                                        buttonType: 'button',
                                        buttonColor: 'btn-secondary',
                                        buttonOutlined: true,
                                        buttonIcon: 'upload',
                                        buttonText: '파일선택'
                                    }) %>
                                </div>
        
                                <%- include('../components/forms/_text.html', {
                                    formInputDelete: true,
                                    formPlaceholder: '파일명 입력'
                                }) %>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <select class="form-select">
                                    <option>02</option>
                                </select>
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="4" maxlength="4">
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="4" maxlength="4">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>휴대번호</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <select class="form-select">
                                    <option>02</option>
                                </select>
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="4" maxlength="4">
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="4" maxlength="4">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>사업자등록번호 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="text" class="form-control form-text" size="3" maxlength="3">
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="2" maxlength="2">
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="5" maxlength="5">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>법인등록번호 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="text" class="form-control form-text" size="6" maxlength="6">
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="7" maxlength="7">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>기간선택 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="text" class="form-control form-text date" size="6" value="2024.05.05" readonly>
                            </div>
                            <span>-</span>
                            <div class="field">
                                <input type="text" class="form-control form-text date" size="6" value="2024.05.05" readonly>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>할인율(%)</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="text" class="form-control form-text" size="1" value="0">
                            </div>
                            <span>.</span>
                            <div class="field">
                                <input type="text" class="form-control form-text" size="1" value="01">
                            </div>
                            <span class="desc">범위: 0.01~100.00 [소숫점 둘째자리 허용]</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="password" class="form-control form-text" placeholder="비밀번호 입력">
                            </div>
                            <span class="desc">영문/숫자/특수문자 포함 최소8자/연속3자 제외</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="password" class="form-control form-text form-error" placeholder="비밀번호 입력">
                            </div>
                            <span class="error-message">비밀번호를 입력해 주세요.</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인 <span class="require">*</span></th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="password" class="form-control form-text" placeholder="비밀번호 재입력">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>과금유형</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="radio" class="radio-input " id="radio-1-1" checked>
                                <label class="radio" for="radio-1-1"><span>과금</span></label>

                                <input type="radio" class="radio-input " id="radio-1-2">
                                <label class="radio" for="radio-1-2"><span>보상</span></label>

                                <input type="radio" class="radio-input " id="radio-1-3" disabled>
                                <label class="radio" for="radio-1-3"><span>Label</span></label>

                                <input type="radio" class="radio-input " id="radio-1-4" checked disabled>
                                <label class="radio" for="radio-1-4"><span>Label</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비회원 글쓰기</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <label class="toggle">
                                    <input type="checkbox" class="toggle-input">
                                    <div class="toggle-switch"></div>
                                    <span class="toggle-label ">허용/차단 여부</span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>활성화 체크</th>
                    <td colspan="3">
                        <div class="form-inner-box">
                            <div class="field">
                                <input type="checkbox" class="checkbox-input" id="check-1-1" checked>
                                <label class="checkbox" for="check-1-1"><span>허용/차단</span></label>

                                <input type="checkbox" class="checkbox-input" id="check-1-2">
                                <label class="checkbox" for="check-1-2"><span>활성화</span></label>

                                <input type="checkbox" class="checkbox-input" id="check-1-3" disabled>
                                <label class="checkbox" for="check-1-3"><span>Label</span></label>

                                <input type="checkbox" class="checkbox-input" id="check-1-4" checked disabled>
                                <label class="checkbox" for="check-1-4"><span>Label</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>이미지 등록</th>
                    <td colspan="3">
                        <div class="upload-popup-form with-preview">
                            <div class="field-box">
                                <input type="file" class="upload-input">
        
                                <div class="field">
                                    <%- include('../components/button/_button.html', {
                                        buttonType: 'button',
                                        buttonColor: 'btn-secondary',
                                        buttonOutlined: true,
                                        buttonIcon: 'upload',
                                        buttonText: '파일선택'
                                    }) %>
                                </div>
        
                                <div class="upload-image-preview">
                                    <img src="../assets/img/example/upload-example.jpg" alt="">
                                    <button type="button" class="btn-del"><span class="sr-hide">삭제</span></button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>코드값</th>
                    <td colspan="3">
                        <div class="code-value-form">
                            <div class="field num">
                                <input type="text" class="form-control form-text" size="1" value="0" placeholder="Num">
                                <button type="button" class="btn btn-secondary btn-sm"><span>확인</span></button>
                            </div>
                            <div class="field">
                                <input type="text" class="form-control form-text" value="비밀번호 동일한 문자, 숫자, 특수문자 연속 제한 개수" disabled>
                            </div>
                            <div class="field">
                                <label class="toggle">
                                    <input type="checkbox" class="toggle-input">
                                    <div class="toggle-switch"></div>
                                    <span class="toggle-label">Label</span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>APP Secret</th>
                    <td colspan="3">
                        <button type="button" class="btn btn-primary btn-outlined"><span>조회</span></button>
                    </td>
                </tr>
                <tr>
                    <th>APP 버전</th>
                    <td>
                        <button type="button" class="btn btn-secondary btn-outlined"><span>Ver 1.21</span></button>
                    </td>
                    <th>이용약관</th>
                    <td>
                        <div class="view-rules">
                            <span>이용약관</span>
                            <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>APP 버전</th>
                    <td colspan="3">
                        <a href="#" class="btn-view-rules"><span>약관보기파일명</span></a>
                    </td>
                </tr>
                <tr>
                    <th>파일 다운로드</th>
                    <td colspan="3">
                        <div class="file-download">
                            <button type="button" class="btn btn-primary btn-outlined"><span>파일 다운로드</span></button>
                            <a href="#">파일명 입력</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>원본데이터</th>
                    <td colspan="3">
                        <textarea class="form-control form-text" style="height: 150px;">오류내용 파악을 위하여 원본 데이터의 내용을 보여준다.</textarea>
                    </td>
                </tr>
                <tr>
                    <th>오류데이터</th>
                    <td colspan="3">
                        <textarea class="form-control form-text" style="height: 150px;">오류내용 파악을 위하여 원본 데이터의 내용을 보여준다.</textarea>
                    </td>
                </tr>
                <tr>
                    <th>승인 제공기관 선택</th>
                    <td colspan="3">
                        <div class="scroll-inner-box">
                            <ul>
                                <li>
                                    <input type="checkbox" class="checkbox-input" id="check-1-1" checked>
                                    <label class="checkbox" for="check-1-1"><span>제공기관명 1</span></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkbox-input" id="check-1-2">
                                    <label class="checkbox" for="check-1-2"><span>제공기관명 2</span></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkbox-input" id="check-1-3" disabled>
                                    <label class="checkbox" for="check-1-3"><span>제공기관명 3</span></label>
                                </li>
                                <li>    
                                    <input type="checkbox" class="checkbox-input" id="check-1-4" checked disabled>
                                    <label class="checkbox" for="check-1-4"><span>제공기관명 4</span></label></li>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>AppList 1</th>
                    <td colspan="3">
                        <div class="app-list-1">
                            <div class="title">
                                <span>[제공1기관] 1원 송금 API</span>
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>AppList 2</th>
                    <td colspan="3">
                        <div class="app-list-2">
                            <div class="title">
                                <button type="button" class="btn-del"><span class="sr-hide">삭제</span></button>
                                <span>[제공1기관] 1원 송금 API</span>
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary btn-outlined"><span>약관동의</span></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="form-wrapper">
        <!-- form-tbl-header -->
        <div class="form-tbl-header">
            <span class="tbl-title">
                기본정보
            </span>

            <div class="btn-wrap">
                <button type="button" class="btn btn-primary"><span>승인라인 저장</span></button>
            </div>
        </div>
        <!-- // form-tbl-header -->

        <div class="form-tbl-body">
            <div class="approve-wrapper">
                <div class="approve-box approve-charger">
                    <div class="approve-box-header">
                        승인자 정보
                    </div>
                    <div class="approve-th-list">
                        <span>데이터</span>
                        <span>닉네임</span>
                        <span>선택</span>
                    </div>
                    <div class="approve-box-body">
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1managerp1manager</div>
                            <div class="approve-nickname">1제공매니저1제공매니저1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-secondary btn-select"><span>선택</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                    </div>
                </div>

                <div class="approve-box approve-line">
                    <div class="approve-box-header">
                        승인 라인
                    </div>
                    <div class="approve-th-list">
                        <span>데이터</span>
                        <span>닉네임</span>
                        <span>선택</span>
                    </div>
                    <div class="approve-box-body">
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저1제공매니저1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                         
                        <!-- approve-list-box -->
                        <div class="approve-list-box">
                            <div class="approve-data">p1manager</div>
                            <div class="approve-nickname">1제공매니저</div>
                            <div class="approve-util">
                                <button type="button" class="btn btn-sm btn-danger"><span>선택 취소</span></button>
                            </div>
                        </div>
                        <!-- // approve-list-box -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="form-wrapper">
        <!-- form-tbl-header -->
        <div class="form-tbl-header">
            <span class="tbl-title">
                기본정보
            </span>
        </div>
        <!-- // form-tbl-header -->

        <div class="form-tbl-body">
            <table class="not-list">
                <colgroup>
                    <col style="width:135px;">
                    <col style="width:auto;">
                </colgroup>
                <tr>
                    <th>APP명</th>
                    <td>송금APP</td>
                </tr>
                <tr>
                    <th>APP 설명</th>
                    <td>송금APP</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다. 승인합니다.</td>
                </tr>
                <tr>
                    <th>등록기관</th>
                    <td>등록기관명</td>
                </tr>
                <tr>
                    <th>APP Key</th>
                    <td>UNOxxzBDh2qc1z6DJ7OD1iE7lCdMoOocHD6ak</td>
                </tr>
                <tr>
                    <th>API 목록</th>
                    <td>
                        <div class="scroll-inner-box">
                            <ul>
                                <li>1원 송금 API</li>
                                <li>1원 송금 API</li>
                                <li>해외주식투자 API</li>
                                <li>1원 송금 API</li>
                                <li>1원 송금 API</li>
                                <li>해외주식투자 API</li>
                                <li>1원 송금 API</li>
                                <li>1원 송금 API</li>
                                <li>해외주식투자 API</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>접근 IP</th>
                    <td>
                        <div class="access-ip-list">
                            <div class="access-ip-header">
                                <div>출발지IP</div>
                                <div>목적지IP</div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-secondary btn-outlined btn-icon-right">
                                        <i class="plus"></i>
                                        <span class="text">추가</span>
                                    </button>
                                </div>
                            </div>

                            <div class="access-ip-body">
                                <!-- access-ip-box -->
                                <div class="access-ip-box">
                                    <div class="start-ip">127.0.0.1</div>
                                    <div class="dest-ip">10.0.0.24</div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                                            <i class="minus"></i>
                                            <span class="text">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- // access-ip-box -->
                                 
                                <!-- access-ip-box -->
                                <div class="access-ip-box">
                                    <div class="start-ip">127.0.0.1</div>
                                    <div class="dest-ip">10.0.0.24</div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                                            <i class="minus"></i>
                                            <span class="text">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- // access-ip-box -->
                                 
                                <!-- access-ip-box -->
                                <div class="access-ip-box">
                                    <div class="start-ip">127.0.0.1</div>
                                    <div class="dest-ip">10.0.0.24</div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                                            <i class="minus"></i>
                                            <span class="text">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- // access-ip-box -->
                                 
                                <!-- access-ip-box -->
                                <div class="access-ip-box">
                                    <div class="start-ip">127.0.0.1</div>
                                    <div class="dest-ip">10.0.0.24</div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                                            <i class="minus"></i>
                                            <span class="text">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- // access-ip-box -->
                                 
                                <!-- access-ip-box -->
                                <div class="access-ip-box">
                                    <div class="start-ip">127.0.0.1</div>
                                    <div class="dest-ip">10.0.0.24</div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                                            <i class="minus"></i>
                                            <span class="text">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- // access-ip-box -->
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
<%- include("../components/10_foot/_foot.html") %>