<%- include("../components/00_head/_head.html", { document_title: 'Form' }) %>
    <style>
        body { background-color: #ddd;}
        .guide { width: 520px; background-color: #fff; margin: 0 auto; min-height: 100%; }
    </style>

    <div class="guide">
        <div class="field-container">
            <div class="field-box">
                <div class="label-cell">기본 텍스트</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt" value="API 이름">
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Placeholder</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt" placeholder="API 이름">
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Disabled</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt" value="API 이름" disabled>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Warning</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt error" value="API 이름">
                        <p class="error">경고/안내 문구</p>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Warning</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt error" value="API 이름" style="width: 120px;">
                        <p class="error horizontal">경고/안내 문구</p>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Warning</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt" value="API 이름">
                        <p class="primary">경고/안내 문구</p>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Warning</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt" value="API 이름" style="width: 120px;">
                        <p class="primary horizontal">경고/안내 문구</p>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">내용보기</div>
                <div class="field-cell">
                    <div class="view">
                        내용
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Dropdown</div>
                <div class="field-cell">
                    <div class="field">
                        <select>
                            <option value="">기관전체</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Drop Input </div>
                <div class="field-cell">
                    <div class="drop-input">
                        <div class="field">
                            <select>
                                <option value="">카테고리구분</option>
                            </select>
                        </div>
                        <div class="field">
                            <input type="text" class="txt" placeholder="Text">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Date</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt date" value="2024.05.05" readonly>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Period</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt period-date" value="2024.05.05 ~ 2024.05.31" readonly>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Month</div>
                <div class="field-cell">
                    <div class="field">
                        <input type="text" class="txt month" value="2024.05" readonly>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Phone</div>
                <div class="field-cell">
                    <div class="phone">
                        <div class="field">
                            <select>
                                <option>02</option>
                            </select>
                        </div>
                        <span>-</span>
                        <div class="field">
                            <input type="text" class="txt">
                        </div>
                        <span>-</span>
                        <div class="field">
                            <input type="text" class="txt">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Numbox</div>
                <div class="field-cell">
                    <input type="text" class="txt num" value="0">
                    <span>.</span>
                    <input type="text" class="txt num" value="0">

                    <p class="primary horizontal no-icon">범위: 0.01-100.00 [소숫점 둘째자리 허용]</p>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Radio</div>
                <div class="field-cell">
                    <div class="radio-container">
                        <div class="field">
                            <input type="radio" class="radio" id="radio-1-1" name="radio-1-1" checked>
                            <label for="radio-1-1" class="radio-label">Label</label>
                        </div>
                        <div class="field">
                            <input type="radio" class="radio" id="radio-1-2" name="radio-1-1">
                            <label for="radio-1-2" class="radio-label">Label</label>
                        </div>
                        <div class="field">
                            <input type="radio" class="radio" id="radio-1-3" name="radio-1-1" disabled>
                            <label for="radio-1-3" class="radio-label">Label</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Checkbox</div>
                <div class="field-cell">
                    <div class="checkbox-container">
                        <div class="field">
                            <input type="checkbox" class="checkbox" id="checkbox-1-1" name="checkbox-1-1" checked>
                            <label for="checkbox-1-1" class="checkbox-label">Label</label>
                        </div>
                        <div class="field">
                            <input type="checkbox" class="checkbox" id="checkbox-1-2" name="checkbox-1-1">
                            <label for="checkbox-1-2" class="checkbox-label">Label</label>
                        </div>
                        <div class="field">
                            <input type="checkbox" class="checkbox" id="checkbox-1-3" name="checkbox-1-1" disabled>
                            <label for="checkbox-1-3" class="checkbox-label">Label</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Checkbox</div>
                <div class="field-cell">
                    <div class="toggle-container">
                        <label class="toggle">
                            <input type="checkbox" class="toggle-input">
                            <div class="toggle-switch"></div>
                            <span class="toggle-label ">허용/차단 여부</span>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Textarea</div>
                <div class="field-cell">
                    <div class="field">
                        <textarea id="textarea-1">내용을 입력하세요.</textarea>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Input + Btn</div>
                <div class="field-cell">
                    <div class="input-btn-container">
                        <div class="field">
                            <input type="text" class="txt">
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Text + Btn</div>
                <div class="field-cell">
                    <div class="text-btn-container">
                        <div class="field">
                            <span>이용약관</span>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Select + Btn</div>
                <div class="field-cell">
                    <div class="select-btn-container">
                        <div class="field">
                            <select>
                                <option>Field</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">파일 업로드</div>
                <div class="field-cell">
                    <div class="file-upload-container">
                        <input type="file" class="txt upload">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary btn-outlined"><i class="upload"></i><span>파일선택</span></button>
                        </div>
                        <div class="field">
                            <select>
                                <option>Field</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Fileupload_search</div>
                <div class="field-cell">
                    <div class="file-upload-search-container">
                        <div class="field">
                            <select>
                                <option>Field</option>
                            </select>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary"><i class="upload"></i><span>파일선택</span></button>
                            <button type="button" class="btn btn-secondary btn-outlined"><span>등록반영</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">파일 업로드</div>
                <div class="field-cell">
                    <div class="file-upload-container">
                        <input type="file" class="txt upload">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary btn-outlined"><i class="upload"></i><span>파일선택</span></button>
                        </div>
                        <div class="field-wrap">
                            <div class="upload-image">
                                <img src="../assets/img/example/upload-example.jpg" alt="">
                                <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-box">
                <div class="label-cell">Multi Upload</div>
                <div class="field-cell">
                    <div class="file-upload-container">
                        <input type="file" class="txt upload">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary btn-outlined"><i class="upload"></i><span>파일선택</span></button>
                        </div>
                        <div class="field-wrap">
                            <div class="field">
                                <select>
                                    <option>Field</option>
                                </select>
                            </div>
                            
                            <div class="field with-del">
                                <input type="text" class="txt" placeholder="파일명 입력">
                                <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                            </div>
                            
                            <div class="field with-del">
                                <input type="text" class="txt" placeholder="파일명 입력">
                                <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                            </div>
                            
                            <div class="field with-del">
                                <input type="text" class="txt" placeholder="파일명 입력">
                                <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-box">
                <div class="label-cell">Codeview</div>
                <div class="field-cell">
                    <div class="codeview-container">
                        <div class="field-box">
                            <div class="field">
                                <input type="text" class="txt num" placeholder="Num">
                                <button type="button" class="btn btn-sm btn-secondary"><span>확인</span></button>
                            </div>
                            <div class="chk-msg-box">
                                <span>체크 메세지 체크 메세지 체크 메세지 체크 메세지 체크 메세지</span>
                            </div>
                        </div>
                        <div class="toggle-container">
                            <label class="toggle">
                                <input type="checkbox" class="toggle-input">
                                <div class="toggle-switch"></div>
                                <span class="toggle-label">Label</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Textarea + btn</div>
                <div class="field-cell">
                    <div class="textarea-btn-container">
                        <div class="field">
                            <textarea id="textarea-1">내용을 입력하세요.</textarea>
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-secondary btn-outlined"><span>취소</span></button>
                                <button type="button" class="btn btn-primary btn-outlined"><span>승인</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">FileViewOnly</div>
                <div class="field-cell">
                    <div class="field">
                        <button type="button" class="btn-file-view"><i class="doc"></i><span>파일명파일명파일명</span></button>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">Status View</div>
                <div class="field-cell">
                    <span class="badge badge-success">성공</span>
                    <span class="badge badge-danger">실패</span>
                    <span class="badge badge-primary">진행중</span>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">BtnView</div>
                <div class="field-cell">
                    <button type="button" class="btn btn-secondary btn-outlined btn-round"><span>Ver 1.1.1</span></button>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">파일 다운로드</div>
                <div class="field-cell">
                    <div class="file-download-container">
                        <button type="button" class="btn btn-secondary btn-outlined"><i class="download"></i><span>파일 다운로드</span></button>
                        <div class="filename"><span>파일명 파일명 파일명 파일명</span></div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">App list</div>
                <div class="field-cell">
                    <div class="applist-type-1">
                        <div class="title">
                            <strong>[제공1기관]</strong>
                            <span>1원 송금 API</span>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary btn-sm btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">App list</div>
                <div class="field-cell">
                    <div class="applist-type-2">
                        <div class="title">
                            <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                            <strong>[제공1기관]</strong>
                            <span>1원 송금 API</span>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-secondary btn-outlined btn-sm"><span>약관동의</span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field-box">
                <div class="label-cell">버튼만</div>
                <div class="field-cell">
                    <button type="button" class="btn btn-primary btn-outlined"><span>조회</span></button>
                </div>
            </div>

        </div>
    </div>

<%- include("../components/10_foot/_foot.html") %>