<%- include("../components/00_head/_head.html", { document_title: 'Guide' }) %>

<style>
    body { background-color: #ddd;}
    .guide { width: 800px; background-color: #fff; margin: 0 auto; min-height: 100%; }
</style>

<div class="guide">
    <div class="scroll-wrapper">
        <div class="scroll-header">
            <p>API 내역</p>
        </div>
        <div class="scroll-subheader">
            subheader
        </div>
        <div class="scroll-box">
            <ul>
                <% for(var i = 1 ; i < 21; i++) { %>
                <li>
                    <div class="checkbox-container">
                        <div class="field">
                            <input type="checkbox" class="checkbox" id="checkbox-1-<%= i %>" name="checkbox-1-<%= i %>">
                            <label for="checkbox-1-<%= i %>" class="checkbox-label">제공기관명 <%= i %></label>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row heading">
            <div class="row-item">출발지 IP</div>
            <div class="row-item">목적지 IP</div>
            <div class="row-item btn-cell">
                <button type="button" class="btn btn-sm btn-secondary btn-outlined btn-icon-right">
                    <i class="plus"></i>
                    <span class="text">추가</span>
                </button>
            </div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">127.0.0.1</div>
                <div class="row-item">10.0.0.24</div>
                <div class="row-item btn-cell">
                    <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                        <i class="minus"></i>
                        <span class="text">삭제</span>
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row-title">
            <p>승인자 정보</p>
        </div>
        <div class="table-row heading">
            <div class="row-item">데이터</div>
            <div class="row-item">닉네임</div>
            <div class="row-item btn-cell">선택</div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">p<%= i %>Manager</div>
                <div class="row-item"><%= i %>제공매니저</div>
                <div class="row-item btn-cell">
                    <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                        <i class="chevron-arrow-right"></i>
                        <span class="text">선택</span>
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row-title">
            <p>승인라인</p>
        </div>
        <div class="table-row heading">
            <div class="row-item">데이터</div>
            <div class="row-item">닉네임</div>
            <div class="row-item btn-cell">선택취소</div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">p<%= i %>Manager</div>
                <div class="row-item"><%= i %>제공매니저</div>
                <div class="row-item btn-cell">
                    <button type="button" class="btn btn-sm btn-danger">
                        <span class="text">선택취소</span>
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row heading">
            <div class="row-item">임계치</div>
            <div class="row-item">구간요금(원/건)</div>
            <div class="row-item btn-cell">
                <button type="button" class="btn btn-sm btn-secondary btn-outlined btn-icon-right">
                    <i class="plus"></i>
                    <span class="text">추가</span>
                </button>
            </div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">
                    <div class="field">
                        <input type="text" class="txt" value="x-tran-id">
                    </div>
                </div>
                <div class="row-item">
                    <div class="field">
                        <input type="text" class="txt" value="트렌젝션ID">
                    </div>
                </div>
                <div class="row-item btn-cell">
                    <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                        <i class="minus"></i>
                        <span class="text">삭제</span>
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row heading">
            <div class="row-item">변경전</div>
            <div class="row-item">변경후</div>
            <div class="row-item">변경 사유</div>
            <div class="row-item">변경 일시</div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">1,200</div>
                <div class="row-item">1,200</div>
                <div class="row-item">변경</div>
                <div class="row-item">2024.05.05</div>
            </div>
            <% } %>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <div class="table-container">
        <div class="table-row heading">
            <div class="row-item">선택</div>
            <div class="row-item">승인선명</div>
            <div class="row-item">승인자 목록</div>
            <div class="row-item">상태</div>
            <div class="row-item">선택</div>
        </div>
        <div class="table-body">
            <% for(var i = 1 ; i < 21; i++) { %>
            <div class="table-row">
                <div class="row-item">1,200</div>
                <div class="row-item">제1제공기관 승인선</div>
                <div class="row-item">운영자 → 제1제공기관 매니저</div>
                <div class="row-item">공개</div>
                <div class="row-item">
                    <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
                        <i class="chevron-arrow-right"></i>
                        <span class="text">선택</span>
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div> 
</div>

<%- include("../components/10_foot/_foot.html") %>