<%- include("../components/00_head/_head.html") %>

<style>
    .guide { width: 1200px; margin: 0 auto;}
    .guide .gap { margin: 20px 0; height: 1px solid #ccc;}
    .guide .guide-box { margin: 5px 0; }
    .guide .guide-box h4 { text-transform: uppercase; letter-spacing: -0.4px; font-weight: 800; }
</style>

<div class="guide">
    <div class="guide-box">
        <h4>Popup Template</h4>
        <%- include('../components/popup/_popup.html', {
            popup_id : 'popup-test-id',
            popup_title : 'popup test',
            popup_content : 'popup-content',
            popup_type : 'confirm'
        }) %>
    </div>

    <div class="gap"></div>

    <div class="guide-box">
        <h4>primary</h4>
        <a href="#" class="btn"><span>텍스트</span></a>
        <a href="#" class="btn outline"><span>텍스트</span></a>
        <a href="#" class="btn size-small"><span>텍스트</span></a>
        <a href="#" class="btn size-small outline"><span>텍스트</span></a>
    </div>

    <div class="gap"></div>

    <div class="guide-box">
        <h4>success</h4>
        <a href="#" class="btn btn-success"><span>텍스트</span></a>
        <a href="#" class="btn btn-success outline"><span>텍스트</span></a>
        <a href="#" class="btn btn-success size-small"><span>텍스트</span></a>
        <a href="#" class="btn btn-success size-small outline"><span>텍스트</span></a>
    </div>

    <div class="gap"></div>

    
    <div class="guide-box">
        <h4>danger</h4>
        <a href="#" class="btn btn-danger"><span>텍스트</span></a>
        <a href="#" class="btn btn-danger outline"><span>텍스트</span></a>
        <a href="#" class="btn btn-danger size-small"><span>텍스트</span></a>
        <a href="#" class="btn btn-danger size-small outline"><span>텍스트</span></a>
    </div>

    <div class="gap"></div>

    
    <div class="guide-box">
        <h4>warning</h4>
        <a href="#" class="btn btn-warning"><span>텍스트</span></a>
        <a href="#" class="btn btn-warning outline"><span>텍스트</span></a>
        <a href="#" class="btn btn-warning size-small"><span>텍스트</span></a>
        <a href="#" class="btn btn-warning size-small outline"><span>텍스트</span></a>
    </div>

    <div class="gap"></div>

    
    <div class="guide-box">
        <h4>focus</h4>
        <a href="#" class="btn btn-focus"><span>텍스트</span></a>
        <a href="#" class="btn btn-focus outline"><span>텍스트</span></a>
        <a href="#" class="btn btn-focus size-small"><span>텍스트</span></a>
        <a href="#" class="btn btn-focus size-small outline"><span>텍스트</span></a>
    </div>

    <div class="gap"></div>

    
    <div class="guide-box">
        <h4>secondary</h4>
        <a href="#" class="btn btn-secondary"><span>텍스트</span></a>
        <a href="#" class="btn btn-secondary outline"><span>텍스트</span></a>
        <a href="#" class="btn btn-secondary size-small"><span>텍스트</span></a>
        <a href="#" class="btn btn-secondary size-small outline"><span>텍스트</span></a>
    </div>
</div>

<%- include("../components/10_foot/_foot.html") %>