<%- include("../components/00_head/_head.html", { document_title: '알림 팝업' }) %>

<style>
    .gap { margin: 20px 0;}
</style>

<div class="example-wrapper popup-guide">

    <div class="gap"></div>

    <!-- popup -->
    <div class="popup-wrapper popup-content-sm">
        <div class="popup-header">
            API ERROR (status : 403)
        </div>
        <div class="popup-body">
            <div class="popup-content">                
                <p>신규로 추가된 API는 약관에 동의를 하셔야 합니다.</p>
            </div>
        </div>
        <div class="popup-footer">
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonText: '확인'
            }) %>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
    <!-- // popup -->

    <div class="gap"></div>

    <!-- popup -->
    <div class="popup-wrapper popup-content-sm">
        <div class="popup-header">
            앱 원상복구
        </div>
        <div class="popup-body">
            <div class="popup-content">

                <div class="primary-small-box">1원 송금 API</div>
                <p>원상복구 하시겠습니까?</p>

            </div>
        </div>
        <div class="popup-footer">
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonColor: 'btn-secondary',
                buttonText: '취소'
            }) %>
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonText: '확인'
            }) %>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
    <!-- // popup -->

    <div class="gap"></div>

    <!-- popup -->
    <div class="popup-wrapper popup-content-sm">
        <div class="popup-header">
            정적 리소스 추가
        </div>
        <div class="popup-body">
            <div class="popup-content">

                <div class="popup-form-wrapper upload-popup-form">
                    <p>파일을 업로드하세요. (png, jpg 등)</p>
                    <div class="field-box">
                        <input type="file" class="upload-input">

                        <div class="field">
                            <%- include('../components/button/_button.html', {
                                buttonType: 'button',
                                buttonColor: 'btn-secondary',
                                buttonOutlined: true,
                                buttonIcon: 'upload',
                                buttonText: '파일선택'
                            }) %>
                        </div>

                        <%- include('../components/forms/_text.html', {
                            formInputDelete: true,
                            formPlaceholder: '파일명 입력'
                        }) %>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup-footer">
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonColor: 'btn-secondary',
                buttonText: '취소'
            }) %>
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonText: '확인'
            }) %>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
    <!-- // popup -->

    <div class="gap"></div>

    <!-- popup -->
    <div class="popup-wrapper popup-content-sm">
        <div class="popup-header">
            APP Secret 조회
        </div>
        <div class="popup-body">
            <div class="popup-content">

                <div class="popup-form-wrapper">
                    <p>로그인 비밀번호를 입력해주세요.</p>
                    <div class="field-box">
                        <%- include('../components/forms/_text.html', {
                            formPlaceholder: '비밀번호 입력'
                        }) %>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup-footer">
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonColor: 'btn-secondary',
                buttonText: '취소'
            }) %>
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonText: '확인'
            }) %>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
    <!-- // popup -->

    <div class="gap"></div>

    <!-- popup -->
    <div class="popup-wrapper popup-content-sm">
        <div class="popup-header">
            APP Secret 조회
        </div>
        <div class="popup-body">
            <div class="popup-content">

                <div class="primary-small-box">rsmMVA4sToe6oMPrgIlZEH7QOVZ7bzMv</div>
                <p> App Secret를 확인해 주세요.</p>

            </div>
        </div>
        <div class="popup-footer">
            <%- include('../components/button/_button.html', {
                buttonSize: 'btn-lg',
                buttonText: '확인'
            }) %>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
    <!-- // popup -->

    <div class="gap"></div>

</div>

<!-- popup-mask -->
<div id="popup-mask"></div>

<%- include("../components/10_foot/_foot.html") %>
