<%- include("../components/00_head/_head.html", { document_title: '페이지 리스트' }) %>

<style>
    .index-list { width: 700px; background-color: #fff; margin: 0 auto; height: 100%; }
    .index-list ul { list-style: disc; margin-left: 50px;}
    .index-list ul li a:hover{ text-decoration: underline; }
    .index-list h4 { font-weight: 800; padding: 20px 10px; } 
</style>

<div class="index-list">
    <h4>페이지 리스트</h4>
    <ul>
        <li><a href="./_template_login.html">레이아웃 - 로그인 전</a></li>
        <li><a href="./_template_logined.html">레이아웃 - 로그인 후</a></li>
        <li><a href="./_popup-alert.html">알림 팝업 예시</a></li>
        <li><a href="./_popup-content.html">콘텐츠 팝업 가이드</a></li>
        <li><a href="./_form.html">폼 요소 가이드</a></li>
        <li><a href="./_guide.html">스타일 가이드</a></li>
    </ul>

    <h4>Admin Web</h4>
    <ul>
        <li><a href="./template_login.html">admin web 레이아웃 - 로그인 전</a></li>
        <li><a href="./template_logined.html">admin web 레이아웃 - 로그인 후</a></li>
        <li><a href="./list_page_template_1.html">list page template 1</a></li>
        <li><a href="./list_page_template_2.html">list page template 2</a></li>
        <li><a href="./레이아웃2_샘플_1200px.html">레이아웃2_샘플_1200px</a></li>
        <li><a href="./레이아웃3_샘플_620px.html">레이아웃3_샘플_620px</a></li>
        <li><a href="./팝업_공통_포맷.html">팝업_공통_포맷</a></li>
        <li><a href="./팝업_레이아웃_샘플1.html">팝업_레이아웃_샘플1</a></li>
        <li><a href="./popup-alert-1.html">알림 팝업 예시 1</a></li>
        <li><a href="./popup-alert-2.html">알림 팝업 예시 2</a></li>
        <li><a href="./popup-alert-3.html">알림 팝업 예시 3</a></li>
        <li><a href="./popup-alert-4.html">알림 팝업 예시 4</a></li>
        <li><a href="./popup-alert-5.html">알림 팝업 예시 5</a></li>
        <li><a href="./toast-1.html">Toast 1</a></li>
        <li><a href="./toast-2.html">Toast 2</a></li>
    </ul>
</div>

<%- include("../components/10_foot/_foot.html") %>