<%- include("../components/00_head/_head.html", { document_title: '콘텐츠 팝업' }) %>

<!-- popup -->
<div class="popup-wrapper popup-size-lg">
    <div class="popup-container popup-type-content">
        <div class="popup-header">
            APP 등록/수정
        </div>
        <div class="popup-body">
            <div class="popup-content">

                <div class="app-list-wrapper">
                    <div class="app-info">
                        <!-- field-wrapper -->
                        <div class="field-wrapper">
                            <div class="field-header">
                                <div class="title">APP 기본정보</div>
                            </div>

                            <div class="field-container">
                                <div class="field-box">
                                    <div class="label-cell">APP 버전</div>
                                    <div class="field-cell">
                                        <div class="field">
                                            v2.2.2
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">기관 <span class="require">*</span></div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <select>
                                                <option value="">기관전체</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="field-box">
                                    <div class="label-cell">APP명 <span class="require">*</span></div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <input type="text" class="txt" value="API 이름">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">사용자 정의 매개변수 <span class="require">*</span></div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <textarea id="textarea-1">내용을 입력하세요.</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">인증서</div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <textarea id="textarea-2">내용을 입력하세요.</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">호출 Bundle</div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <select>
                                                <option value="">기관전체</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">APP 설명</div>
                                    <div class="field-cell">
                                        <div class="field">
                                            <textarea id="textarea-3">내용을 입력하세요.</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field-box">
                                    <div class="label-cell">APP 버전</div>
                                    <div class="field-cell">
                                        <button type="button" class="btn btn-secondary btn-outlined btn-round"><span>Ver 1.1.1</span></button>
                                    </div>
                                </div>

                                <div class="field-box">
                                    <div class="label-cell">이용약관 <span class="require">*</span></div>
                                    <div class="field-cell">
                                        <div class="select-btn-container">
                                            <div class="field">
                                                <select>
                                                    <option>Field</option>
                                                </select>
                                            </div>
                                            <div class="btn-wrap">
                                                <button type="button" class="btn btn-primary btn-outlined"><span>약관보기</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field-box">
                                    <div class="label-cell">API명세서 <span class="require">*</span></div>
                                    <div class="field-cell">
                                        <div class="btn-select-container">
                                            <div class="btn-wrap">
                                                <button type="button" class="btn btn-secondary btn-outlined"><span>약관보기</span></button>
                                            </div>
                                            <div class="field">
                                                <select>
                                                    <option>Field</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                        <!-- // field-wrapper -->
                    </div>
                    <div class="app-select-list">
                        <div class="scroll-wrapper">
                            <div class="scroll-header">
                                <p>API 내역</p>
                            </div>
                            <div class="scroll-subheader">
                                <div class="input-btn-container">
                                    <div class="field">
                                        <input type="text" class="txt">
                                    </div>
                                    <div class="btn-wrap">
                                        <button type="button" class="btn btn-secondary btn-outlined"><span>검색</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-box full">
                                <ul>
                                    <% for(var i = 1 ; i < 21; i++) { %>
                                    <li>
                                        <div class="applist-type-1">
                                            <div class="title">
                                                <strong>[제공1기관]</strong>
                                                <span>1원 송금 API</span>
                                            </div>
                                            <div class="btn-wrap">
                                                <button type="button" class="btn btn-secondary btn-sm btn-icon-right"><i class="chevron-arrow-right"></i><span>선택</span></button>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="app-add-list">
                        
                        <div class="scroll-wrapper">
                            <div class="scroll-header">
                                <p>API 내역</p>
                            </div>
                            <div class="scroll-subheader">
                                <p>API 삭제 및 약관동의를 관리하세요.</p>
                            </div>
                            <div class="scroll-box full">
                                <ul>
                                    <% for(var i = 1 ; i < 21; i++) { %>
                                    <li>
                                        <div class="applist-type-2">
                                            <div class="title">
                                                <button type="button" class="btn-del"><i class="del"></i><span class="sr-hide">파일선택</span></button>
                                                <strong>[제공1기관]</strong>
                                                <span>1원 송금 API</span>
                                            </div>
                                            <div class="btn-wrap">
                                                <button type="button" class="btn btn-secondary btn-outlined btn-sm"><span>약관동의</span></button>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup-footer">
            <div class="btn-wrap">
                <button type="button" class="btn btn-secondary btn-lg"><span>취소</span></button>
                <button type="button" class="btn btn-primary btn-lg"><span>저장</span></button>
            </div>
        </div>

        <div class="popup-close">
            <button type="button" class="btn-popup-close"><span class="sr-hide">닫기</span></button>
        </div>
    </div>
</div>
<!-- // popup -->

<%- include("../components/10_foot/_foot.html") %>
