    <% const userTemplate = locals.userTemplate ? locals.userTemplate : false; %>

    <!-- #header -->
    <header id="header" <% if(userTemplate) {%>class="transparent"<%}%>>
        <!-- .container -->
        <div class="container">
            <!-- /logo -->
            <div class="logo">
                <a href="#">
                    <% if(userTemplate == false) {%>
                    <img src="../assets/img/header/logo.svg" alt="U&Ours">
                    <% } else { %>
                    <img src="../assets/img/header/user-logo.svg" alt="U&Ours">
                    <% } %>
                </a>
            </div>
            <!-- // .logo -->

            <!-- .header-nav -->
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="#">OpenAPI란?</a>
                        <ul>
                            <li><a href="#">OpenAPI 플랫폼 소개</a></li>
                            <li><a href="#">이용절차 안내</a></li>
                            <li><a href="#">가입절차 안내</a></li>
                        </ul>
                    </li>
                    <li> 
                        <a href="#">API 서비스</a>
                        <ul>
                            <li><a href="#">API 서비스 목록</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">개발지원</a>
                        <ul>
                            <li><a href="#">이용가이드</a></li>
                            <li><a href="#">API 규격정보</a></li>
                            <li><a href="#">테스트베드</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                        <ul>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                    <% if(userTemplate == true) { %>
                    <li>
                        <a href="#">API 등록관리</a>
                        <ul>
                            <li><a href="#">승인 관리</a></li>
                            <li><a href="#">API 관리</a></li>
                            <li><a href="#">앱 관리</a></li>
                            <li><a href="#">과금 관리</a></li>
                            <li><a href="#">사용자 관리</a></li>
                            <li><a href="#">기관 관리</a></li>
                            <li><a href="#">시스템 관리</a></li>
                            <li><a href="#">통계</a></li>
                            <li><a href="#">콘텐츠 관리</a></li>
                            <li><a href="#">Portal 연동</a></li>
                            <li><a href="#">대시보드</a></li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </nav>
            <!-- // .header-nav -->

            <% if (logined) { %>
            <!-- .header-logined -->
            <div class="header-logined">
                <a href="#">
                    <span class="datetime">2024.05.30 12:00:00</span>
                    <span class="username">홍길동</span>
                </a>
                <%- include('../button/_button.html', {
                    buttonText: '로그아웃',
                    buttonOutlined: true,
                    buttonRound: true
                }) %>
            </div>
            <!-- // .header-logined -->
            <% } else { %>

                <!-- .header-util -->
                <div class="header-util">
                    <%- include('../button/_button.html', {
                        buttonText: '회원가입',
                        buttonRound: true
                    }) %>
                    <% if(userTemplate == true) { %>
                        <button type="button" class="btn btn-secondary btn-outlined btn-round"><span>로그인</span></button>
                    <% } else { %>
                        <%- include('../button/_button.html', {
                            buttonText: '로그인',
                            buttonOutlined: true,
                            buttonRound: true
                        }) %>
                    <% } %>
                </div>
                <!-- // .header-util -->
            <% } %>
            
        </div>
        <!-- // .container -->
    </header>
    <!-- // #header -->