    </div>
    <!-- // #wrap -->

    <!-- 개발에는 필요없는 미리보기용 버튼들-->
    <style>
        .case-view { position: fixed; bottom: 20px; right: 0; }
        .case-view button { min-width: 150px; margin: 5px 0; background-color: rgba(0,0,0,.5); color: #fff; padding:10px 5px; font-size: 13px; } 
        .case-view button:hover { background: #000; }
    </style>
    <div class="case-view">
        <button type="button" id="toggle-darkmode">Light/Dark mode</button>
    </div>
    <!-- // 개발에는 필요없는 미리보기용 버튼들-->
</body>
</html>