@use "../../assets/scss/config" as *;

footer#footer {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    font-size: var(--text-14-font-size);
    font-weight: 400;
    line-height: var(--text-14-line-height);
    color: var(--color-gray-500);
    background-color: var(--color-gray-800);
    padding: 0 30px;

    .container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        
        .copyright-terms-box {
            display: inline-flex;

            .terms-list {
                margin-left: 8px;

                li {
                    position: relative;
                    display: inline-flex;
                    padding: 0 10px 0 8px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 1px;
                        height: 10px;
                        transform: translateY(-50%);
                        background-color: var(--color-gray-600);
                    }

                    &:last-child::before {
                        display: none;
                    }

                    a {
                        color: var(--color-gray-500);
                    }
                }
            }
        }

        .footer-logo {
            img {
                filter: grayscale(100%);
                width: 97px;
                height: 26px;
            }
        }
    }
}