<div class="message-spec-item">
    <div class="cell-1">
        <div class="field">
            <input type="text" class="form-control form-text" value="x-tran-id">
        </div>
    </div>
    <div class="cell-2">
        <div class="field">
            <input type="text" class="form-control form-text" value="트렌젝션 ID">
        </div>
    </div>
    <div class="cell-3">
        <div class="field">
            <select class="form-select">
                <option>필수</option>
            </select>
        </div>
    </div>
    <div class="cell-4">
        <div class="field">
            <input type="text" class="form-control form-text" value="10">
        </div>
    </div>
    <div class="cell-5">
        <div class="field">
            <input type="text" class="form-control form-text" value="트랜젝션ID">
        </div>
    </div>
    <div class="cell-6">
        <button type="button" class="btn btn-sm btn-secondary btn-icon-right">
            <i class="minus"></i>
            <span class="text">삭제</span>
        </button>
    </div>
</div>